	<div class="panel-heading">
		<p><strong>Waharike Marafiki</strong></p>
		<p>Ingiza barua pepe za marafiki zako kuwaharika kutumia <strong>NINAYO</strong></p>
	</div>
	<div class="panel-heading">
		<%= form_for Invite.new, :url => invites_url do |f| %>
	    	<%= f.label "#{t "activerecord.attributes.user.email"}:", class: "field-label" %>
	    	<%= f.email_field :email, autofocus: true %>
	    	<%= f.submit 'Kuwaalika', class: "button is-block" %>
		<% end %>
	</div>
	</br>
	<div>
		<p><strong>Barua Zilizotumwa</strong></p>
		<ul class="conversation-group clearfix">
			<% @invites.each do |invite| %>
				<li class="conversation-item clearfix"><%= "#{invite.receiver_id ? "âœ…ï¸" : "ðŸ“©"} #{invite.email}"%></br><%="#{invite.created_at.strftime("%e %B, %Y")}"%></li>
			<% end %>
		</ul>
	</div>