<div class="ad-actions">
<%# if current_user %>
	<%= link_to("#{t "common.favorite"}", ad_favorite_path(@ad, type: "favorite"), :class => "button is-block", :method => :put) unless @ad.favorite?(current_user) %>
	<%= link_to("#{t "common.unfavorite"}", ad_favorite_path(@ad, type: "unfavorite"), :class => "button is-block", :method => :put) if @ad.favorite?(current_user) %>
	<p><%= link_to 'Ujumbe', new_message_path(:uid => @ad.user.id, :adid => @ad.id), class: "button is-block" %></p>
<%# end %>
	<!-- <a href="" class="button is-block not-implemented">
		Add to favorites
	</a> -->
	<%= link_to(t("common.edit"), edit_ad_path(@ad), :class => "button is-block") if current_user && (current_user.id == @ad.user.id || current_user.admin?) %>
	<%#= link_to "#{t "common.delete"}", @ad, remote: true, method: :delete,  :class => "button is-block is-danger", data: { confirm: "#{t "views.ad.show.delete_confirmation"}" } if current_user && current_user.admin? %>

	<%= link_to "#{t "common.archive"}", archive_ad_path(@ad), :class => "button is-block is-danger" if @ad.published? && current_user && current_user.id == @ad.user.id %>

	<%= link_to "#{t "common.delete"}", delete_ad_path(@ad), data: { confirm: 'Are you sure you want to delete this article?'}, method: :delete, class: "button is-block is-danger" if current_user && current_user.admin? %>
</div>