<table class="datatable">
	<tr>
		<th><%= t("common.phone") %>:</th>
		<td><%= link_to("#{t "common.call"}", call_contact_path(@ad.id), :class => "button is-block") %></td>
	</tr>
	<tr>
		<% unless user.email.nil? || user.email.blank? || user.email.include?("@ninayo.com") %>
		<th><%= t("common.email") %>:</th>
		<td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
		<% end %>
	</tr>
</table>