<table class="datatable">
	<tr>
		<th><%= t("common.phone") %>:</th>
		<td><%= link_to("#{t "common.call"}", call_contact_path(@ad.id), :class => "button is-block") %></td>
	</tr>
	<tr>
		<th><%= "SMS" %></th>
		<td><%= link_to("SMS", text_contact_path(@ad.id), :class => "button is-block") %></td>
	<tr>
		<th><%= t("common.message") %>:</th>
		<td><%= link_to "#{t "common.message"}", new_message_path(:uid => @ad.user.id, :adid => @ad.id), class: "button is-block" %></td>
	</tr>
</table>