<table class="datatable">
	<tr>
		<th><%= t("common.phone") %>:</th>
		<td><a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></td>
	</tr>
	<tr>
		<% unless user.email.nil? || user.email.blank? || user.email.include?("@ninayo.com") %>
		<th><%= t("common.email") %>:</th>
		<td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
		<% end %>
	</tr>
</table>