<h3><%= t "views.ad.facts.heading" %></h3>
<table class="datatable">
	<tr>
		<th><%= t "common.price" %>:</th>
		<td><%= number_to_currency(@ad.price, precision: 0)%></td>
	</tr>
	<tr>
		<% if I18n.locale == :sw %>
			<th><%= @ad.negotiable ? "BEI INAONGEREKA 🙆" : "BEI HAIONGEREKI 🙅" %></th>
		<% else %>
			<th><%= @ad.negotiable ? "PRICE NEGOTIABLE 🙆" : "NON-NEGOTIABLE 🙅" %></th>
	</tr>
	<tr>
		<th><%= t "common.volume" %>:</th>
		<td><%= t("volume_units.#{@ad.volume_unit}", count: @ad.volume) %></td>
	</tr>
	<tr>
		<th><%= t "common.published" %>:</th>
		<% if @ad.published_at %>
		<td><%= l(@ad.published_at, format: :short) %></td>
		<% else %>
			<td><%= l(Time.now, format: :short) %></td>
		<% end %>
	</tr>
</table>