<div class="sticky-filter", style=" flex-direction: column; align-items: center">
	<%#= form_tag(ads_path, method: :get, remote: true) do %>
	<form action="<%= request.path %>" id="filter-form" method="get">


		<div class="field filter-field">
		<div class="filterdiv">
		<div class="filterrow">
		<% if I18n.locale == :sw %>
			<span>Mimi ni </span>
		<% else %>
			<span>I am </span>
		<% end%>
		<%= select_tag "ad_type", options_for_select([[(I18n.locale == :sw ? 'muuzaji' : 'a seller'), 'buy'], [(I18n.locale == :sw ? 'mnunuzi' : 'a buyer'), 'sell']], @ad_type), style: "width: 135px;" %>
		</div>
		<div class="filterrow">
		<% if I18n.locale == :sw %>
			<span> Mimi natafuta </span>
		<% else %>
			<span> I am looking for </span>
		<% end %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name", @crop_type_id), style: "width: 135px;", prompt: "all crops" if I18n.locale == :en %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name_sw", @crop_type_id), style: "width: 135px;", prompt: "mazao yote" if I18n.locale == :sw %>
		</div>
			<div class="filterrow">
		<% if I18n.locale == :sw %>
			<span> Orodha ya mazao kwa mkoa </span>
		<% else %>
			<span> I am located in </span>
		<% end %>
			<%= select_tag "region_id", options_from_collection_for_select(@regions, "id", "name", @region_id), style: "width: 135px;", prompt: (I18n.locale == :sw ? "popote" : "anywhere") %>
			<%= select_tag "district_id", options_from_collection_for_select(@districts, "id", "name", @district_id), style: "width: 135px;", prompt: (I18n.locale == :sw ? "popote" : "anywhere") %>
			<%= select_tag "ward_id", options_from_collection_for_select(@wards, "id", "name", @ward_id), style: "width: 135px;", prompt: (I18n.locale == :sw ? "popote" : "anywhere") %>

		</div>
			<input type="submit" value="<%= I18n.locale == :sw ? "Chuja Matangazo" : "Change search options" %>" class="button is-primary is-block"/>
		<h3 class="filter-heading"><a href="<%=request.path%>" class="filter-reset" style="color: #337AB7;"><%= t "views.ad.filter.reset_filter" %></a></h3>
		</div>
		
	<%# end %>
		</div>
	</form>
</div>