<div class="sticky-filter", style=" flex-direction: column; align-items: center">
	<%#= form_tag(ads_path, method: :get, remote: true) do %>
	<form action="<%= request.path %>" id="filter-form" method="get">


		<div class="field filter-field">
		<div class="filterdiv">
		<div class="filterrow">
		<b>
		<% if I18n.locale == :sw %>
			<span>Nionyeshe matangazo kutoka</span>
		<% else %>
			<span>Show me ads from</span>
		<% end%>
		</b>
		<br>
		<%= select_tag "ad_type", options_for_select([[(I18n.locale == :sw ? 'Wanunuzi wa mazao' : 'Crop Buyers'), 'buy'], [(I18n.locale == :sw ? 'Wauzaji wa mazao' : 'Crop Sellers'), 'sell']], @ad_type) %>
		</div>
		<br>
		<div class="filterrow">
		<b>
		<% if I18n.locale == :sw %>
			<span> Mimi natafuta </span>
		<% else %>
			<span> I am looking for </span>
		<% end %>
		</b>
		<br>
			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name", @crop_type_id), prompt: "all crops" if I18n.locale == :en %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name_sw", @crop_type_id), prompt: "mazao yote" if I18n.locale == :sw %>
		</div>
		<br>
			<div class="filterrow">
		<b>
		<% if I18n.locale == :sw %>
			<span> Orodha ya mazao kwa mkoa </span>
		<% else %>
			<span> Show me ads from </span>
		<% end %>
		</b>
		<br>
			<%= select_tag "region_id", options_from_collection_for_select(@regions, "id", "name", @region_id), prompt: (I18n.locale == :sw ? "popote" : "anywhere") %>
		</div>
		<br>
			<input type="submit" value="<%= I18n.locale == :sw ? "Chagua" : "Search" %>" class="button is-primary is-block" style="width: 100%;"/>
		<h3 class="filter-heading"><a href="<%=request.path%>" class="filter-reset" style="color: #337AB7;"><%= t "views.ad.filter.reset_filter" %></a></h3>
		</div>
		<br>
		<% if admin_user? %>
		<div class="field filter-field">
 			<h4 class="filter-field-heading"><%= t "views.ad.volume" %></h4>
 			<div class="field-row">
 				<div class="field-col">
 					<label for="volume_min" class="filter-label"><%= t "views.common.min" %></label>
 					<%= select_tag "volume_min", options_for_select([10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 1000], @volume_min), prompt: "-"  %>
 				</div>
 				<div class="field-col">
 					<label for="volume_max" class="filter-label"><%= t "views.common.max" %></label>
 					<%= select_tag "volume_max", options_for_select([10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 1000], @volume_max), prompt: "-"  %>
 				</div>
 			</div>
 		</div>
 		<div class="field filter-field">
 			<h4 class="filter-field-heading"><%= t "views.ad.price" %></h4>
 			<div class="field-row">
 				<div class="field-col">
 					<label for="price_min" class="filter-label"><%= t "views.common.min" %></label>
 					<%= select_tag "price_min", options_for_select([10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 200000, 3000000, 4000000, 500000, 1000000], @price_min), prompt: "-" %>
 				</div>
 				<div class="field-col">
 					<label for="price_max" class="filter-label"><%= t "views.common.max" %></label>
 					<%= select_tag "price_max", options_for_select([10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 200000, 3000000, 4000000, 500000, 1000000], @price_max), prompt: "-"  %>
 				</div>
 			</div>
 		</div>
 		<% end %>
		
	<%# end %>
		</div>
	</form>
</div>