<div class="filter">
	<%#= form_tag(ads_path, method: :get, remote: true) do %>
	<form action="<%= request.path %>" id="filter-form" method="get">
		<h3 class="filter-heading"><%= t "views.ad.filter.filter_ads" %> <a href="<%=request.path%>" class="filter-reset"><%= t "views.ad.filter.reset_filter" %></a></h3>

		

		<input type="hidden" name="ad_type" id="ad_type" value="<%=@ad_type%>">
		<div class="pagenav is-block has-2">
			<div class="pagenav-buttongroup">
				<button name="ad_type" value="sell" class="pagenav-item <%= "is-active" if @ad_type == 'sell'%>"><%= t "views.ad.for_sale" %></button>
				<button name="ad_type" value="buy" class="pagenav-item <%= "is-active" if @ad_type == 'buy'%>"><%= t "views.ad.buying" %></button>
			</div>
		</div>

		<div class="field filter-field">
			<!-- <label for="crop_type_id">Crop type</label> -->
			<h4 class="filter-field-heading"><%= t "views.ad.crop_type" %></h4>

			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name", @crop_type_id), prompt: "#{t "common.display_all"}" if I18n.locale == :en %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name_sw", @crop_type_id), prompt: "#{t "common.display_all"}" if I18n.locale == :sw %>
		</div>
		<div class="field filter-field">
			<!-- <label for="region">Region</label> -->
			<h4 class="filter-field-heading"><%= t "views.ad.region" %></h4>
			<%= select_tag "region_id", options_from_collection_for_select(@regions, "id", "name", @region_id), prompt: "#{t "common.display_all"}" %>
		</div>
		<div class="field filter-field">
			<h4 class="filter-field-heading"><%= t "views.ad.volume" %></h4>
			<div class="field-row">
				<div class="field-col">
					<label for="volume_min" class="filter-label"><%= t "views.common.min" %></label>
					<%= select_tag "volume_min", options_for_select([10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 1000], @volume_min), prompt: "-"  %>
				</div>
				<div class="field-col">
					<label for="volume_max" class="filter-label"><%= t "views.common.max" %></label>
					<%= select_tag "volume_max", options_for_select([10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 1000], @volume_max), prompt: "-"  %>
				</div>
			</div>
		</div>
		<div class="field filter-field">
			<h4 class="filter-field-heading"><%= t "views.ad.price" %></h4>
			<div class="field-row">
				<div class="field-col">
					<label for="price_min" class="filter-label"><%= t "views.common.min" %></label>
					<%= select_tag "price_min", options_for_select([10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 200000, 3000000, 4000000, 500000, 1000000], @price_min), prompt: "-" %>
				</div>
				<div class="field-col">
					<label for="price_max" class="filter-label"><%= t "views.common.max" %></label>
					<%= select_tag "price_max", options_for_select([10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 200000, 3000000, 4000000, 500000, 1000000], @price_max), prompt: "-"  %>
				</div>
			</div>
		</div>
		<div class="field-actions filter-action">
			<button class="button is-primary is-block">
				<%= t "views.ad.filter.filter_ads" %>
			</button>
		</div>
		<a href="" class="filter-close filter-toggle"><%= I18n.locale == "sw" ? "Funge" : "Close" %></a>
	<%# end %>
	</form>
</div>