<div class="sticky-filter", style=" flex-direction: column; align-items: center">
	<%#= form_tag(ads_path, method: :get, remote: true) do %>
	<form action="<%= request.path %>" id="filter-form" method="get">


		<div class="field filter-field">
		<div class="filterdiv">
		<div class="filterrow">
		<span>Mimi ni </span>
		<%= select_tag "ad_type", options_for_select([['muuzaji', 'buy'], ['mnunuzi', 'sell']], @ad_type), style: "width: 135px;" %>
		</div>
		<div class="filterrow">
		<span> Mimi natafuta </span>
			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name", @crop_type_id), style: "width: 135px;", prompt: "all crops" if I18n.locale == :en %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(@crop_types, "id", "name_sw", @crop_type_id), style: "width: 135px;", prompt: "mazao yote" if I18n.locale == :sw %>
		</div>
			<div class="filterrow">
		<span> Orodha ya mazao kwa mkoa </span>
			<%= select_tag "region_id", options_from_collection_for_select(@regions, "id", "name", @region_id), style: "width: 135px;", prompt: "popote" %>

		</div>
		<h3 class="filter-heading"><a href="<%=request.path%>" class="filter-reset" style="color: #337AB7;"><%= t "views.ad.filter.reset_filter" %></a></h3>
		</div>
		
		<div class="field-actions filter-action">
			<button class="button is-primary is-block">
				<%= t "views.ad.filter.filter_ads" %>
			</button>
			<input type="submit" value="Vigezo" class="button"/>
		</div>
	<%# end %>
		</div>
	</form>
</div>