<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, :class => 'field-label' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, :class => 'field-label' %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price, :class => 'field-label' %>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit("Create Ad", :class  => "button is-primary") %>
  </div>
<% end %>
