<%= form_for @ad, validate: true do |f| %>
	<% if @ad.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

			<ul>
			<% @ad.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<fieldset>
		<h3>Crop</h3>
		<div class="field">
			<%= select("ad", "crop_type_id", @crop_types.all.collect {|c| [ c.name, c.id ]}, {prompt: "Select a Crop Type"})%>
		</div>

		<div class="field">
			<%= f.label :price, :class => 'field-label' %>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :price, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<span class="input-post">/=</span>
				</div>
			</div>
		</div>
		<div class="field">
			<%= f.label :volume, :class => 'field-label' %>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :volume, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<%= f.select :volume_unit, Ad.volume_units.keys.to_a.map { |w| [w.humanize.pluralize, w] }, {}, {:class => "is-inline"}  %>
				</div>
			</div>
		</div>
		<div class="field">
			<%= f.label :description, :class => 'field-label' %>
			<%= f.text_area :description %>
		</div>
	</fieldset>

	<fieldset>
		<h3>Location</h3>
		<div class="field">
			<%= f.label :region_id, :class => 'field-label' %>
			<%= select("ad", "region_id", Region.all.collect {|c| [ c.name, c.id ]}, {prompt: "Select a Region"})%>
		</div>
		<div class="field">
			<%= f.label :village, :class => 'field-label' %>
			<%= f.text_field :village %>
		</div>
		<div class="field row">
			<div class="field field-col">
				<%= f.label :lat, :class => 'field-label' %>
				<%= f.text_field :lat %>
			</div>
			<div class="field field-col">
				<%= f.label :lng, :class => 'field-label' %>
				<%= f.text_field :lng %>
			</div>
		</div>
	</fieldset>

	<div class="positionmap">
		<div class="positionmap-header">
			<h4 class="positionmap-heading">Pick your location</h4>
			<a href="" class="button positionmap-toggle">
				Big map
			</a>
			<a href="" class="positionmap-close">&times;</a>
		</div>
		<div id="positionmap-canvas"></div>
		<div class="positionmap-actions">
			<div class="positionmap-actions-text is-second">
				Drag the marker to the location of your crop
			</div>
			<div class="positionmap-actions-button">
				<button class="button is-primary is-block positionmap-confirm">Confirm location</button>
			</div>
		</div>
	</div>

	<p>
		<a href="" class="button is-block positionmap-toggle is-mobile">
			Pick your location
		</a>
	</p>

	<fieldset>
		<h3>Contact information</h3>
		<p>Please review your contact information.</p>
		<%= fields_for :user, @ad.user, validate: true do |user_fields| %>
			<div class="field">
				<%= user_fields.label :name, class: "field-label" %>
				<%= user_fields.text_field :name, :validate => true %>
			</div>
			<div class="field">
				<%= user_fields.label :email, class: "field-label" %>
				<%= user_fields.telephone_field :email, :validate => true%>
			</div>
			<div class="field">
				<%= user_fields.label :phone_number, class: "field-label" %>
				<%= user_fields.telephone_field :phone_number, :validate => true, class: "is-small" %>
			</div>
		<% end %>
	</fieldset>


	<div class="field-actions">
		<%= link_to "Cancel", root_path, :class => "button is-block" %>
		<% if @ad.published? %>
			<%= f.submit("Save changes", :class  => "button is-primary is-block") %>
		<% else %>
			<%= f.submit("Preview the Ad", :class  => "button is-primary is-block") %>
		<% end %>
	</div>
<% end %>
