<%= form_for @ad, validate: true do |f| %>
	<%= render "shared/validation_errors", :model => @ad %>

	<fieldset>
		<h3><%= t("views.ad.crop").humanize %></h3>

		<div class="field">
			<%= f.select :crop_type_id, @crop_types.all.collect {|c| [ c.name, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :en %>
			<%= f.select :crop_type_id, @crop_types.all.collect {|c| [ c.name_sw, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :sw %>
		</div>
		<div class="field other_crop_type">
			<%= f.label :other_crop_type, "#{t "views.ad.new.name_of_crop_type"}", :class => 'field-label' %>
			<%= f.text_field :other_crop_type %>
		</div>

		<div class="field">
			<%= f.label :price, "#{t "views.ad.price"}", :class => 'field-label' %>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :price, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<span class="input-post">/=</span>
				</div>
			</div>
		</div>
		<div class="field">
			<%= f.label "#{t "views.ad.volume"}", :class => 'field-label' %>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :volume, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<%= f.select :volume_unit, Ad.volume_units.keys.to_a.map { |w| [I18n.t("volume_unit.#{w}"), w]}, {}, {:class => "is-inline"} %>
				</div>
			</div>
		</div>
		<div class="field">
			<%= f.label "#{t "views.ad.description"}", :class => 'field-label' %>
			<%= f.text_area :description %>
		</div>
	</fieldset>

	<% if current_user.location_needed?%>
	<fieldset>
		<h3><%= t("views.ad.show.location").humanize %></h3>
		<div class="field">
			<%= f.label "#{t "views.ad.region"}", :class => 'field-label' %>
			<%= f.select :region_id, Region.all.collect {|a| [ a.name, a.id ] }, {prompt: "#{t "views.edit_profile.select_region"}"}, :selected => current_user.region_id %>
		</div>
		<div class="field">
			<%= f.label "#{t "views.ad.district"}", class: "field-label" %>
			<%= f.grouped_collection_select :district_id, Region.order(:name), :districts, :name, :id, :name, {prompt: "#{t "views.edit_profile.select_district"}"} %>
		</div>

		<div class="field">
			<%= f.label "#{t "views.ad.ward"}", class: "field-label" %>
			<%= f.grouped_collection_select :ward_id, District.order(:name), :wards, :name, :id, :name, {prompt: "#{t "views.edit_profile.select_ward"}"} %>
		</div>

		<div class="field">
			<%= f.label "#{t "views.ad.village"}", :class => 'field-label' %>
			<%= f.text_field :village %>
		</div>
		<%#= f.label "#{t "views.ad.lat"}", :class => 'field-label' %>
		<%= f.hidden_field :lat %>
		<%#= f.label "#{t "views.ad.lng"}", :class => 'field-label' %>
		<%= f.hidden_field :lng %>
	</fieldset>
	<% end %>
	<fieldset>
		<% if current_user.info_needed? %>
		<h3><%= t("views.ad.new.contact_information").humanize %></h3>
		<p><%= t "views.ad.new.review_contact_information" %>.</p>
		<% end %>
		<%= fields_for :user, @ad.user, validate: true do |user_fields| %>
			<% if current_user.name.nil? || current_user.name.blank? %>
			<div class="field">
				<%= user_fields.label :name, :value => "#{t "activerecord.attributes.user.name"}", :class => "field-label" %>
				<%= user_fields.text_field :name, :validate => true %>
			</div>
			<% end %>
			<% if current_user.phone_number.nil? || current_user.phone_number.blank? %>
			<div class="field">
				<%= user_fields.label :phone_number, :value => "#{t "activerecord.attributes.user.phone_number"}", :class => "field-label" %>
				<div class="input-wrapper">
					<div class="input-field">
						<%= user_fields.telephone_field :phone_number, :validate => false, class: "is-inline" %>
					</div>
				</div>
			</div>
			<% end %>

		<% end %>
	</fieldset>


	<div class="field-actions">
		<% if @ad.published? %>
			<%= f.submit("#{t "views.ad.new.save_changes"}", :class  => "button is-block") %>
		<% else %>
			<%= f.submit("#{t "views.ad.preview.publish_button"}", :class  => "button is-block") %>
		<% end %>
		<%= link_to "#{t "views.ad.new.cancel"}", root_path, :class => "button is-danger is-block" %>
	</div>
<% end %>
