<%= form_for @ad, validate: true do |f| %>
	<%= render "shared/validation_errors", :model => @ad %>

	<fieldset>
		<h3><%= t("views.ad.crop").humanize %></h3>

		<div class="field">
			<%= f.label :ad_type, "#{t "views.ad.new.ad_type_label"}", :class => 'field-label' %>
			<%= f.select :ad_type, options_for_select([["#{t "views.ad.sell"}", "sell"], ["#{t "views.ad.buy"}", "buy"]], @ad.ad_type) %>
		</div>

		<div class="field">
			<%= f.select :crop_type_id, @crop_types.all.collect {|c| [ c.name, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :en %>
			<%= f.select :crop_type_id, @crop_types.all.collect {|c| [ c.name_sw, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :sw %>
		</div>
		<div class="field other_crop_type <%= "is-hidden"  unless @ad.crop_type && @ad.crop_type.is_other %>">
			<%= f.label :other_crop_type, "#{t "views.ad.new.name_of_crop_type"}", :class => 'field-label' %>
			<%= f.text_field :other_crop_type %>
		</div>

		<div class="field">
			<%= f.label :price, "#{t "views.ad.price"}", :class => 'field-label' %>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :price, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<span class="input-post">/=</span>
				</div>
			</div>
		</div>
		<div class="field">
			<%= f.label "#{t "views.ad.volume"}", :class => 'field-label' %>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :volume, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<%= f.select :volume_unit, Ad.volume_units.keys.to_a.map { |w| [I18n.t("volume_unit.#{w}"), w]}, {}, {:class => "is-inline"} %>
				</div>
			</div>
		</div>
		<div class="field">
			<%= f.label "#{t "views.ad.description"}", :class => 'field-label' %>
			<%= f.text_area :description %>
		</div>
	</fieldset>

	<fieldset>
		<h3><%= t("views.ad.show.location").humanize %></h3>
		<div class="field">
			<%= f.label "#{t "views.ad.region"}", :class => 'field-label' %>
			<%= f.select :region_id, Region.all.collect {|a| [ a.name, a.id ] }, {prompt: "#{t "views.edit_profile.select_region"}"} %>
		</div>
		<div class="field">
			<%= f.label "#{t "views.ad.village"}", :class => 'field-label' %>
			<%= f.text_field :village %>
		</div>
		<%#= f.label "#{t "views.ad.lat"}", :class => 'field-label' %>
		<%= f.hidden_field :lat %>
		<%#= f.label "#{t "views.ad.lng"}", :class => 'field-label' %>
		<%= f.hidden_field :lng %>
	</fieldset>

	<%= render "positionmap" %>

	<p>
		<a href="" class="button is-block positionmap-toggle is-mobile">
			<%= t "views.ad.new.pick_your_location" %>
		</a>

		<span class="ad-position-message <%= "is-active" if @ad.lat && @ad.lng %>">
			Have a position!
		</span>
	</p>

	<fieldset>
		<h3><%= t("views.ad.new.contact_information").humanize %></h3>
		<p><%= t "views.ad.new.review_contact_information" %>.</p>
		<%= fields_for :user, @ad.user, validate: true do |user_fields| %>
			<div class="field">
				<%= user_fields.label :name, :value => "#{t "activerecord.attributes.user.name"}", :class => "field-label" %>
				<%= user_fields.text_field :name, :validate => true %>
			</div>
			<div class="field">
				<%= user_fields.label :email, :value => "#{t "activerecord.attributes.user.email"}", :class => "field-label" %>
				<%= user_fields.telephone_field :email, :validate => true%>
			</div>
			<div class="field">
				<%= user_fields.label :phone_number, :value => "#{t "activerecord.attributes.user.phone_number"}", :class => "field-label" %>
				<div class="input-wrapper">
					<div class="input-field">
						<%= user_fields.telephone_field :phone_number, :validate => true, class: "is-inline" %>
					</div>

				</div>
			</div>
		<% end %>
	</fieldset>


	<div class="field-actions">
		<% if @ad.published? %>
			<%= f.submit("#{t "views.ad.new.save_changes"}", :class  => "button is-primary is-block") %>
		<% else %>
			<%= f.submit("#{t "views.ad.new.preview_ad"}", :class  => "button is-primary is-block") %>
		<% end %>
		<%= link_to "#{t "views.ad.new.cancel"}", root_path, :class => "button is-block" %>
	</div>
<% end %>
