<%= form_for @ad, validate: true do |f| %>
	<%= render "shared/validation_errors", :model => @ad %>

	<fieldset>

		<div class="field">
			<strong><%= (I18n.locale == :sw ? "Ninataka " : "I want ") %> <%= f.select :ad_type, options_for_select([[(I18n.locale == :sw ? 'kuuza' : 'to sell'), "sell"], [(I18n.locale == :sw ? 'kununua' : 'to buy'), "buy"]]), style: "width: 135px;" %></strong>
		</div>
		<h3><%= t("views.ad.crop").humanize %></h3>
		<div class="field">
			<%= f.select :crop_type_id, @crop_types.all.collect {|c| [ c.name, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :en %>
			<%= f.select :crop_type_id, @crop_types.all.collect {|c| [ c.name_sw, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :sw %>
		</div>
		<div class="field other_crop_type">
			<i><h6><%= f.label t "views.ad.new.other_crop_optional", :class => 'field-label' %></h6></i>
			<%= f.text_field :other_crop_type %>
		</div>

		<div class="field">
			<strong><%= f.label "#{t "views.ad.volume"}", :class => 'field-label' %></strong>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :volume, :min => 1, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<%= f.select :volume_unit, (Ad.volume_units.keys.to_a - ["gunia", "bucket", "sack", "trees", "tenga", "chane", "sado", "debe", "fungu"]).map { |w| [I18n.t("volume_unit.#{w}"), w]}, {}, {:class => "is-inline"} %>
				</div>
			</div>
		</div>
		<div class="field">
			<strong><%= f.label :price, "#{t "views.ad.price"}", :class => 'field-label' %></strong>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :price, :min => 1, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<span class="input-post">/=</span>
				</div>
			</div>
		</div>

		<div class="field">
			<strong><%= f.label :negotiable, (I18n.locale == :sw ? "Ni bei yako inaongereka?" : "Is your price negotiable?"), :class => 'field-label' %></strong>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.radio_button :negotiable, true %> <%= (I18n.locale == :sw ? "Bei inaongereka" : "Negotiable") %><br>
					<%= f.radio_button :negotiable, false %> <%= (I18n.locale == :sw ? "Haiongereki" : "Non-negotiable") %> 
				</div>
			</div>
		</div>


		<div class="field">
			<strong><%= f.label "#{t "views.ad.description"}", :class => 'field-label' %></strong>
			<%= f.text_area :description %>
		</div>
	</fieldset>


	<% if current_user %>
		<fieldset>
	 		<%= fields_for :user, @ad.user, validate: true do |user_fields| %>
				<h4><%= (I18n.locale == :sw ? "Taarifa Zako" : "Contact information") %></h4>
				<i><h6><%= t "views.ad.new.review_contact_information" %></h6></i>
	
				<div class="field">
					<strong><%= user_fields.label :name, :value => "#{t "activerecord.attributes.user.name"}", :class => "field-label" %></strong>
					<%= user_fields.text_field :name, :default => current_user.name, :validate => true %>
				</div>
	

				<div class="field">
					<strong><%= user_fields.label :phone_number, :value => "#{t "activerecord.attributes.user.phone_number"}", :class => "field-label" %></strong>
					<div class="input-wrapper">
						<div class="input-field">
							<%= user_fields.telephone_field :phone_number, :default => current_user.phone_number, :validate => false, class: "is-inline" %>
					</div>
				</div>
				</div>

				<div class="field">
					<strong><%= user_fields.label :whatsapp_id, :value => (I18n.locale == :sw ? "WhatsApp (hiari)" : "WhatsApp (optional)"), :class => "field-label" %></strong>
					<div class="input-wrapper">
						<div class="input-field">
							<%= user_fields.text_field :whatsapp_id, :validate => false, class: "is-inline" %>
						</div>
					</div>
				</div>

				<% if current_user.birthday.blank? %>
					<div class="field">
						<strong><%= user_fields.label :birthday, :value => (I18n.locale == :sw ? "Mwaka wa kuzaliwa" : "Year of birth"), :class => "field-label" %></strong>
						<%= user_fields.select :birthday,  (Time.zone.now.year - 100)..(Time.zone.now.year - 10), :selected => '2000' %>
					</div>
				<% end %>
				
				<% if current_user.gender.blank? || current_user.gender.nil? %>
					<div class="field">
						<% if I18n.locale == :sw %>
						<strong>Mimi ni </strong><%= user_fields.select :gender, options_for_select([['mwanaume', "male"], ['mwanamke', "female"]]), style: "width: 135px;" %>
						<% else %>
						<strong>I am a </strong><%= user_fields.select :gender, options_for_select([['man', "male"], ['woman', "female"]]), style: "width: 135px;" %>
						<% end %>
					</div> 
				<% end %>

				<h3><%= t("views.ad.show.location").humanize %></h3>
				<div class="field">
					<strong><%= user_fields.label "#{t "views.ad.region"}", :class => 'field-label' %></strong>
					<%= user_fields.select :region_id, Region.all.collect {|a| [ a.name, a.id ] }, {prompt: "#{t "views.edit_profile.select_region"}"} %>
				</div>
				<div class="field">
					<strong><%= user_fields.label "#{t "views.ad.district"}", class: "field-label" %></strong>
					<%= user_fields.grouped_collection_select :district_id, Region.includes(:districts).order(:name), :districts, :name, :id, :name, {prompt: "#{t "views.edit_profile.select_district"}"} %>
				</div>

				<div class="field">
					<strong><%= user_fields.label "#{t "views.ad.ward"}", class: "field-label" %></strong>
					<%= user_fields.grouped_collection_select :ward_id, District.includes(:wards).order(:name), :wards, :name, :id, :name, {prompt: "#{t "views.edit_profile.select_ward"}"} %>
				</div>

				<div class="field">
					<strong><%= user_fields.label "#{t "views.ad.village"}", :class => 'field-label' %></strong>
					<%= user_fields.text_field :village %>
				</div>
			<% end %>
	<% end %>

	<% unless current_user %>
		<fieldset>
			<h3><%= t("views.ad.show.location").humanize %></h3>
			<div class="field">
				<strong><%= f.label "#{t "views.ad.region"}", :class => 'field-label' %></strong>
				<%= f.select :region_id, Region.all.collect {|a| [ a.name, a.id ] }, {prompt: "#{t "views.edit_profile.select_region"}"}, :selected => @ad.region_id %>
			</div>
			<div class="field">
				<strong><%= f.label "#{t "views.ad.district"}", class: "field-label" %></strong>
				<%= f.grouped_collection_select :district_id, Region.includes(:districts).order(:name), :districts, :name, :id, :name, {prompt: "#{t "views.edit_profile.select_district"}"} %>
			</div>

			<div class="field">
				<strong><%= f.label "#{t "views.ad.ward"}", class: "field-label" %></strong>
				<%= f.grouped_collection_select :ward_id, District.includes(:wards).order(:name), :wards, :name, :id, :name, {prompt: "#{t "views.edit_profile.select_ward"}"} %>
			</div>

			<div class="field">
				<strong><%= f.label "#{t "views.ad.village"}", :class => 'field-label' %></strong>
				<%= f.text_field :village %>
			</div>
			<%#= f.label "#{t "views.ad.lat"}", :class => 'field-label' %>
			<%= f.hidden_field :lat %>
			<%#= f.label "#{t "views.ad.lng"}", :class => 'field-label' %>
			<%= f.hidden_field :lng %>
		</fieldset>

		<fieldset>
			<div class="login">
				<div class="login-column">
					<h3><%= I18n.locale == :sw ? "Jisajili" : "Sign up" %></h3>

					<%= f.fields_for User.new do |ff| %>
	  					<div>
	    					<strong><%= ff.label :phone_number, class: "field-label" %></strong>
		    				<%= ff.text_field :phone_number, validate: true, placeholder: "Ingie namba ya simu (lazima)" %>

		    				<strong><%= ff.label :name, class: "field-label" %></strong>
		    				<%= ff.text_field :name, validate: true, placeholder: "Jina (lazima)" %>

		    				<strong><%= ff.label "WhatsApp (hiari)", class: "field-label" %></strong>
		    				<%= ff.text_field :whatsapp_id, placeholder: "WhatsApp" %>

		    				<strong>Mimi ni <%= ff.select :gender, options_for_select([['mwanaume', "male"], ['mwanamke', "female"]]), style: "width: 135px;" %></strong>

							<strong><%= ff.label "Mwaka wa kuzaliwa", class: "field-label" %></strong>
							<%= ff.select :birthday, (Time.zone.now.year - 100)..(Time.zone.now.year - 10), :selected => '2000' %>

		    				<strong><%= ff.label :password, class: "field-label" %></strong>
		    				<%= ff.password_field :password, autocomplete: "off", placeholder: "Chague nenosiri" %>
	    					<% if @validatable %>
	    						<span class="field-hint"><%= @minimum_password_length %> <%= t "views.create_account.characters_minimum" %></span>
	    					<% end %>

	    					<strong><%= ff.label "Andika tena nenosiri", class: "field-label" %></strong>
	    					<%= ff.password_field :password_confirmation, autocomplete: "off" %>
	    					<br>
	    					<%= link_to((I18n.locale == :sw ? "Akaunti tiyari?" : "Already have an account"), new_user_session_path, :class => "button is-link") %>
	  					</div>
					<% end %>
				</div>
			</div>
		</fieldset>
	<% end %>



	<div class="field-actions">
		<% if @ad.published? %>
			<%= f.submit("#{t "views.ad.new.save_changes"}", :class  => "button is-block") %>
		<% else %>
			<%= f.submit("#{t "views.ad.preview.publish_button"}", :class  => "button is-block") %>
		<% end %>
		<%= link_to "#{t "views.ad.new.cancel"}", root_path, :class => "button is-danger is-block" %>
	</div>
<% end %>
