<h3 class="infopanel-heading"><%= @ad.title %></h3>
<div class="infopanel-description">
	<%= simple_format(@ad.description) %>
</div>
<table class="datatable">
	<tr>
		<th><%= t "common.price" %>:</th>
		<td><%= number_to_currency(@ad.price)%></td>
	</tr>
	<tr>
		<th><%= t "common.volume" %>:</th>
		<td><%= t("volume_units.#{@ad.volume_unit}", count: 3) %></td>
	</tr>
	<tr>
		<th><%= t "common.published" %>:</th>
		<% if @ad.published_at %>
		<td><%= l(@ad.published_at, format: :short) %></td>
		<% else %>
			<td><%= l(Time.now, format: :short) %></td>
		<% end %>
	</tr>
</table>

<p><%= link_to("Show ad", ad_path(@ad))%></p>