<h3 class="infopanel-heading"><%= link_to(@ad.title, ad_path(@ad)) %></h3>
<p class="rating infopanel-rating" data-score="<%= @ad.user.seller_rating ? @ad.user.seller_rating.round(0) : 0 %>">
	<span class="rating-user">
		<%= t("views.ad.seller.heading").humanize %>: <%= t "common.by" %> <%= @ad.user.name %>
	</span>
	<span class="rating-score">
		<span class="rating-score-inner"></span>
	</span>
</p>
<div class="infopanel-description">
	<%= simple_format(@ad.description) %>
</div>
<p>
	<%= t "common.price" %>: <%= number_to_currency(@ad.price, precision: 0)%>
</p>

<!-- <p><%#= link_to("Show ad", ad_path(@ad))%></p> -->