<%= @ad_type %>
<% if ads.length > 0 %>
<div class="ads">
	<% ads.each do |ad| %>
		<a href="<%= ad_path(ad) %>" class="posts-item">
			<div class="ads-meta">
				<span class="ads-published_at"><%= t "common.published" %> <%= l(ad.published_at, format: :short) if ad.published_at %>
				</span>
				<span class="rating" data-score="<%= ad.user.seller_rating ? ad.user.seller_rating.round(0) : 0 %>">
					<span class="rating-user">
						<%= t "common.by" %> <%= ad.user.name.titleize %>
					</span>
				</span>
			</div>
			<h2 class="ads-heading"><%= ad.title %></h2>
			<div class="ads-price"><%= number_to_currency(ad.price, precision: 0) %> <%= t "common.per_unit" %></div>
			<div class="posts-location">
				<% unless ad.village.nil? || ad.village.blank? %><%= "#{ad.village.titleize}, " %><% end %> <%if ad.user.ward %><%= "#{ad.user.ward.name}, " %><% end %> <% if ad.user.district %><%= "#{ad.user.district.name}, " %> <% end %> <%= ad.region.name %>
			</div>
		</a>
	<% end %>
</div>

<% else %>
	<h3><%= t "views.ad.list.could_not_find_heading" %></h3>
	<p><%= t "views.ad.list.could_not_find_body" %></p>
<% end %>