<h3 style="font-size: 32px"><%= (@ad_type == "sell" ? (t "views.ad.list.for_sale") : (t "views.ad.list.for_buy")) %></h3>

<% if ads.length > 0 %>
<div class="ads">
	<% ads.each do |ad| %>
		<a href="<%= ad_path(ad) %>" class="posts-item">
			<div class="ads-meta" style="font-size: 16px">
				<span class="ads-published_at"><%= t "common.published" %> <%= l(ad.published_at, format: :short) if ad.published_at %>
				</span>
				<span><%= "(" + time_ago_in_words(ad.published_at).titleize + ")" %></span>
				<span class="rating" data-score="<%= ad.user.seller_rating ? ad.user.seller_rating.round(0) : 0 %>">
					<span class="rating-user">
						<%= t "common.by" %> <%= ad.user.name.titleize %>
					</span>
				</span>
			</div>
			<h2 class="ads-heading" style="font-size: 22px"><%= ad.title %></h2>
			<div class="ads-price" style="font-size: 20px"><%= number_to_currency(ad.price, precision: 0) %> <%= t "common.per_unit" %> <%= " - 🙆 inaongereka" if ad.negotiable %></div>
			<div class="posts-location" style="font-size: 16px">
				<% unless ad.village.nil? || ad.village.blank? %><%= "#{ad.village.titleize}, " %><% end %> <%if ad.user.ward %><%= "#{ad.user.ward.name}, " %><% end %> <% if ad.user.district %><%= "#{ad.user.district.name}, " %> <% end %> <%= ad.region.name %>
			</div>
		</a>
	<% end %>
</div>

<% else %>
	<h3><%= t "views.ad.list.could_not_find_heading" %></h3>
	<p><%= t "views.ad.list.could_not_find_body" %></p>
<% end %>