<% if !@region_name.nil? && !@crop_name.nil? %>
	<h5><%= "#{@crop_name} zinanunuliwa #{@region_name}" %></h5>
<% elsif !@region_name.nil? && @crop_name.nil? %>
	<h5><%= "Mazao kwa ajili ya kuuza mkoani #{@region_name}" %></h5>
<% elsif !@crop_name.nil? && @region_name.nil? %>
	<h5><%= "#{@crop_name} kwa ajili ya kuuza" %></h5>
<% else %>
	<h5><%= (@ad_type == "sell" ? (t "views.ad.list.for_sale") : (t "views.ad.list.for_buy")) %></h5>
<% end %>

<% if ads.length > 0 %>
<div class="ads">
	<% ads.each do |ad| %>
		<a href="<%= ad_path(ad) %>" class="posts-item">
			<div class="ads-meta" style="font-size: 16px">
				<span class="ads-published_at"><%= t "common.published" %> <%= l(ad.published_at, format: :short) if ad.published_at %>
				</span>
				<span><%= "(" + time_ago_in_words(ad.published_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span>
				<span class="rating" data-score="<%= ad.user.seller_rating ? ad.user.seller_rating.round(0) : 0 %>">
					<span class="rating-user">
						<%= t "common.by" %> <%= ad.user.name.titleize || ad.user.phone_number %>
					</span>
				</span>
			</div>
			<h2 class="ads-heading" style="font-size: 22px"><%= ad.title %></h2>
			<div class="ads-price" style="font-size: 20px"><%= number_to_currency(ad.price, delimiter: ",", precision: 0) %> <%= "kwa #{ad.volume_unit}" %></div>
			<div class="posts-location" style="font-size: 16px">
				<% unless ad.village.nil? || ad.village.blank? %><%= "#{ad.village.titleize}, " %><% end %> <%if ad.user.ward %><%= "#{ad.user.ward.name}, " %><% end %> <% if ad.district %><%= "#{ad.district.name}, " %> <% end %> <%= ad.region.name %>
			</div>
		</a>
	<% end %>
</div>

<% else %>
	<h3><%= t "views.ad.list.could_not_find_heading" %></h3>
	<p><%= t "views.ad.list.could_not_find_body" %></p>
	<%= link_to("#{t "common.want_sell"}", new_ad_path, :class => "button primarynav-button is-primary") %>
<% end %>