<% if @ad_logs -%>
	<hr>
	<h3><%=t "views.log.heading" %></h3>

	<table class="table">
		<thead>
			<tr>
				<th><%=t "views.log.event" %></th>
				<th><%=t "views.log.user" %></th>
				<th><%=t "views.log.time" %></th>
			</tr>
		</thead>
		<tbody>
		<% @ad_logs.each do |a| -%>
			<tr>
				<td><%= a.event_type.name %></td>
				<td><%= (a.user.name || a.user.email || a.user.phone_number) if a.user %></td>
				<td><%= l(a.created_at, format: :short) %></td>
			</tr>
		<% end -%>
		</tbody>
	</table>
<% end -%>