<div class="rate <%= "field_with_errors" if @rating && @rating.errors.any? %>">
	<span class="rate-label is-legend"><%= t "views.ad.rate.aweful" %></span>
	<label for="score_1" class="rate-label">
		<%= radio_button_tag(:score, "1") %>
		1
	</label>
	<label for="score_2" class="rate-label">
		<%= radio_button_tag(:score, "2") %>
		2
	</label>
	<label for="score_3" class="rate-label">
		<%= radio_button_tag(:score, "3") %>
		3
	</label>
	<label for="score_4" class="rate-label">
		<%= radio_button_tag(:score, "4") %>
		4
	</label>
	<label for="score_5" class="rate-label">
		<%= radio_button_tag(:score, "5") %>
		5
	</label>
	<span class="rate-label is-legend"><%= t "views.ad.rate.excellent" %></span>
</div>
