<div class="ad-contactinfo">
	<h3><%= t "views.ad.seller.heading" %></h3>
	<h4 class="ad-seller-name"><%=@ad.user.name.titleize %></h4>
	<% if !@ad.user.photo_url.nil? %>
		<p><img src=<%= "#{@ad.user.photo_url}" %> class="avatar-contact"></p>
	<% end %>
	<p class="ad-seller-score">
		
	</p>
		<div id="contact-info"></div>
		<% if @show_contact_info %>
			<%= render "contact_info", :user => @ad.user %>
		<% else %>
			<% if current_user && current_user.id %>
				<% unless current_user && current_user.id == @ad.user.id %>
				<%= render "contact_info", :user => @ad.user %>
				<% end %>
			<% else %>
				<h4><%= (I18n.locale == :sw ? "Tengeneza akaunti au ingia kujumbe huyu" : "Please sign up or log in to contact seller") %></h4>
				<%= link_to user_facebook_omniauth_authorize_path, :class => "button is-facebook" do%>
					<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
						this.src='<%= image_path("icons/facebook.png") %>'">
				<% end %>
				<%= link_to((I18n.locale == :sw ? "Jisajili" : "Sign up"), new_user_registration_url, :class => "button") %>
				<%= link_to((I18n.locale == :sw ? "Ingia" : "Login"), new_user_session_path, :class => "button") %>
			<% end %>

		<% end %>
</div>