<div class="ad-contactinfo">
	<h3><%= t "views.ad.seller.heading" %></h3>
	<h4 class="ad-seller-name"><%=@ad.user.name.titleize %></h4>
	<p class="ad-seller-score">
		<span class="rating" data-score="<%= @ad.user.seller_rating %>">
			<span class="rating-score">
				<span class="rating-score-inner"></span>
			</span>
		</span>
	</p>
	<% unless current_user && current_user.id = @ad.user.id %>
		<div id="contact-info"></div>
			<% if @show_contact_info %>
				<%= render "contact_info", :user => @ad.user %>
			<% else %>
				<%= form_tag(show_contact_info_path, :remote => true, :authenticity_token => true) do %>
					<button id="contact-info-toggle" class="button is-block"><%= t "views.ad.seller.show_contact_information" %></button>
			<% end %>
		<% end %>
	<% end %>
</div>