<div class="ad">
	<div class="ad-main">
		<h1><%= @ad.title %></h1>
		<p>Status: <%=@ad.status%></p>
		<div class="description">
			<%= simple_format(@ad.description) %>
		</div>

		<%= render "actions" unless @preview %>
	</div>
	<div class="ad-sidebar">
		<%= render "ad_stats" %>
		<%= render "facts" %>
		<hr>
		<%= render "seller", :user => @ad.user %>
		<hr>
		<%= render "location" %>
	</div>
</div>