<div class="ad">
	<div class="ad-main">
		<h3 class="supheading">
			<%= "For sale" if @ad.sell? %>
			<%= "Buying" if @ad.buy? %>
		</h3>
		<h1><%= @ad.title %></h1>
		<div class="description">
			<%= simple_format(@ad.description) %>
		</div>

		<%= render "actions" unless @preview %>

		<%= render "logs" if current_user && current_user.admin? %>
	</div>
	<div class="ad-sidebar">
		<%= render "stats" if current_user && (current_user.id == @ad.user_id || current_user.admin?) %>
		<%= render "facts" %>
		<hr>
		<%= render "seller", :user => @ad.user %>
		<hr>
		<%= render "location" %>
	</div>
</div>