<h1><%= @ad.title %></h1>
<div class="description">
	<%= simple_format(@ad.description) %>
</div>
<p>
	<strong>Price:</strong>
	<%= number_to_currency(@ad.price)%><br>
	<strong>Volume:</strong>
	<%= pluralize(@ad.volume, @ad.volume_unit) %><br>
</p>

<h3>Location</h3>
<p>
	<%= @ad.village %><br>
	<%= @ad.region %><br>
</p>
<% if @ad.lat && @ad.lng %>
<div class="ads-staticmap">
	<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @ad.lat%>,<%= @ad.lng%>&zoom=8&size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C<%= @ad.lat%>,<%= @ad.lng%>" alt="">
</div>
<% end %>

