<div class="ad">
	<p><%= link_to((I18n.locale == :sw ? "Rudisha matangazo ya mazao" : "Back"), :back, :class => "button", :style => "background-color:gray") %>
		<% if current_user && @ad.user.id == current_user.id %>
		<%= link_to("Tengeneza tena", new_ad_path, :class => "button") %>
		<%= link_to("Ona bei mazao", ads_url(:ad_type => "sell", :region_id => @ad.region.id), :class => "button") %>
		<% end %>
	</p>
	<div class="post-main">
		<h3 class="supheading">
			<%= t("views.ad.for_sale") if @ad.sell? %>
			<%= t("views.ad.buying") if @ad.buy? %>
		</h3>
		<h1><%= @ad.title %></h1>
		<div>
			<% unless @ad.description.blank? %>
			<strong><%= t("views.ad.seller_message") %></strong>
			<% end %>
		</div>
		<div class="description">
			<%= simple_format(@ad.description) %>
		</div>

		<%= render "actions" unless @preview %>

		<%= render "logs" if current_user && current_user.admin? %>
	</div>
	<div class="post-sidebar">
		<%= render "stats" if current_user && current_user.admin? %>
		<%= render "seller", :user => @ad.user %>
		<hr>
		<%= render "facts" %>
		<hr>
		<%= render "location" %>
	</div>
</div>