<div class="ad">
	<p><%= link_to("Back", :back, :class => "button is-block") %></p>
	<div class="post-main">
		<h3 class="supheading">
			<%= t("views.ad.for_sale") if @ad.sell? %>
			<%= t("views.ad.buying") if @ad.buy? %>
		</h3>
		<h1><%= @ad.title %></h1>
		<div class="description">
			<%= simple_format(@ad.description) %>
		</div>

		<%= render "actions" unless @preview %>

		<%= render "logs" if current_user && current_user.admin? %>
	</div>
	<div class="post-sidebar">
		<%= render "stats" if current_user && current_user.admin? %>
		<%= render "seller", :user => @ad.user %>
		<hr>
		<%= render "facts" %>
		<hr>
		<%= render "location" %>
	</div>
</div>