<% if @ad_logs -%>
	<h3><%= t "views.ad.statistics.heading" %></h3>
	<table class="datatable">
		<tbody>
			<% @ad_logs.group(:event_type).count().each do |s| -%>
			<tr>
				<th><%= s[0].name %></th>
				<td><%= t("views.ad.statistics.times", :count => s[1]) %></td>
			</tr>
			<% end -%>
			<tr>
				<th><%= t "views.ad.statistics.favorites" %></th>
				<td><%= t("views.ad.statistics.times", :count => @ad.favorite_ads.count) %></td>
			</tr>
		</tbody>
	</table>
	<hr>
<% end -%>