
<div class="newad">
	<div class="newad-form">
		<h1><%= t "views.ad.archive.heading" %></h1>

		<p><%= t "views.ad.archive.tell_us_final_price" %></p>

		<%= form_for @ad, validate: true do |f| %>
			<%= render "shared/validation_errors", :model => @ad %>
			<%= render "shared/validation_errors", :model => @rating %>

			<div class="field">
				<%= f.label :final_price, :value => "#{t "activerecord.attributes.ad.final_price"}", :class => "field-label"%>
				<div class="input-wrapper">
					<div class="input-field">
						<%= f.number_field :final_price, :class => "is-small", :value => @ad.final_price || @ad.price , autofocus: true %>
					</div>
					<div class="input-label">
						<span class="input-post">/=</span>
					</div>
				</div>
			</div>

			<% if @buyers.length > 0 %>

			<div class="field">
				<%= f.label :buyer_id, :value => "#{t "views.ad.archive.pick_buyer"}", :class => "field-label" %>
				<%= f.select :buyer_id, @buyers.collect {|b| [ b.name, b.id ] }, { include_blank: "#{t "views.ad.archive.please_select_the_buyer"}"}, {:class => "is-inline" } %>
			</div>

			<div id="rate-buyer" class="<%= "is-hidden" unless @ad.buyer %>">
				<h4><%= t "views.ad.rate.heading" %></h4>
				<p><%= t "views.ad.rate.text" %></p>
				<%= render "rate" %>
			</div>

			<% end %>

			<div class="field-actions">
				<%= f.hidden_field :status, :value => "archived"%>
				<%= fields_for :user, @ad.user do |user_fields| %>
					<%= user_fields.hidden_field :name %>
				<% end %>
				<%= link_to "#{t "common.cancel"}", mypage_current_path, :class => "button is-block" %>
				<%= f.submit("#{t "common.archive"}", :class  => "button is-primary is-block") %>
			</div>
		<% end %>
	</div>
	<div class="newad-content">
		<h2>Why do we need this information?</h2>
		<p>[A text that explains why]</p>
	</div>
</div>