
<div class="newad">
	<div class="newad-form">
		<h1>Archive ad</h1>

		<p>Please tell us what the final price for your crop was.</p>

		<%= form_for @ad, validate: true do |f| %>
			<% if @ad.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

					<ul>
					<% @ad.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
					</ul>
				</div>
			<% end %>

			<% if @rating &&  @rating.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@rating.errors.count, "error") %> prohibited this ad from being saved:</h2>

					<ul>
					<% @rating.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
					</ul>
				</div>
			<% end %>

			<div class="field">
				<%= f.label :final_price, :class => "field-label"%>
				<div class="input-wrapper">
					<div class="input-field">
						<%= f.number_field :final_price, :class => "is-small", :value => @ad.final_price || @ad.price , autofocus: true %>
					</div>
					<div class="input-label">
						<span class="input-post">/=</span>
					</div>
				</div>
			</div>

			<div class="field">
				<%= f.label :buyer_id, :value => "Please see if you can find the buyer in the list below", :class => "field-label" %>
				<%= f.select :buyer_id, @buyers.collect {|b| [ b.name, b.id ] }, { include_blank: "Please select the buyer"}, {:class => "is-inline" } %>
			</div>

			<div id="rate-buyer" class="<%= "is-hidden" unless @ad.buyer %>">
				<%= render "rate" %>
			</div>

			<div class="field-actions">
				<%= f.hidden_field :status, :value => "archived"%>
				<%= fields_for :user, @ad.user do |user_fields| %>
					<%= user_fields.hidden_field :name %>
				<% end %>
				<%= link_to "Cancel", mypage_current_path, :class => "button is-block" %>
				<%= f.submit("Archive", :class  => "button is-primary is-block") %>
			</div>
		<% end %>
	</div>
	<div class="newad-content">
		<h2>Why do we need this information?</h2>
		<p>[A text that explains why]</p>
	</div>
</div>