<div class="posts-wrapper">
	<%= render "layouts/alert" %>
	<%= render "pagenav", :is_floating => false, :current => "list" %>

	<%= render "filter", :ads => @ads %>
	<%= render "list", :ads => @ads %>
	<%= paginate @ads %>
</div>

