<% provide(:title, "#{t "views.ad.preview.title"}") %>
<h4><%= t "views.ad.new.preview_ad" %></h4>

<div class="preview">
	<%= render "show" %>
</div>

<%= form_for(@ad) do |f| %>
	<%= f.hidden_field :status, :value => "published" %>
	<%= fields_for :user, @ad.user do |user_fields| %>
		<%= user_fields.hidden_field :name %>
	<% end %>
	<div class="field-actions">
		<%= link_to "#{t "views.ad.preview.go_back_button"}", edit_ad_path(@ad), :class => "button is-block" %>
		<%= f.submit("#{t "views.ad.preview.publish_button"}", :class  => "button is-primary is-block") %>
	</div>
<% end %>
