<%= form_for @ad, url: save_buy_info_path, validate: true do |f| %>
	<h3>What did you pay?</h3>

	<p>You can track what you bought for future reference by filling out this simple form</p>

	<% if @ad.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

			<ul>
			<% @ad.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<h4>What did you eventually pay for the <%= @ad.crop_type_name%>?</h4>

	<fieldset>
		<div class="field">
			<%= f.label :final_price, :class => "field-label"%>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :final_price, :class => "is-small", :value => @ad.final_price || @ad.price , autofocus: true %>
				</div>
				<div class="input-label">
					<span class="input-post">/=</span>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<h4>How would you rate <%= @ad.user.name%>?</h4>
		<div class="rate">
			<span class="rate-label">Aweful</span>
			<%= radio_button_tag(:rating, "1") %>
			<%= label_tag(:rating, "1") %>
			<%= radio_button_tag(:rating, "2") %>
			<%= label_tag(:rating, "2") %>
			<%= radio_button_tag(:rating, "3") %>
			<%= label_tag(:rating, "3") %>
			<%= radio_button_tag(:rating, "4") %>
			<%= label_tag(:rating, "4") %>
			<%= radio_button_tag(:rating, "5") %>
			<%= label_tag(:rating, "5") %>
			<span class="rate-label">Excellent</span>
		</div>
	</fieldset>

	<div class="field-action">
		<%= f.submit "Save", :class => "button is-primary is-block" %>
	</div>

<% end %>