<%= form_for @ad, url: save_buy_info_path, validate: true do |f| %>
	<h3><%= t "views.ad.rate_seller.heading_1" %></h3>

	<p><%= t "views.ad.rate_seller.text_1" %></p>

	<%= render "validation_errors", :model => @ad %>
	<%= render "validation_errors", :model => @rating %>

	<h4><%= t "views.ad.rate_seller.heading_2" %> <%= @ad.crop_type_name%>?</h4>

	<fieldset>
		<div class="field">
			<%= f.label :buyer_price, :class => "field-label"%>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :buyer_price, :class => "is-small", :value => @ad.buyer_price || @ad.price , autofocus: true %>
				</div>
				<div class="input-label">
					<span class="input-post">/=</span>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<h4><%= t "views.ad.rate_seller.heading_3" %> <%= @ad.user.name%>?</h4>
		<%= render "rate" %>
	</fieldset>

	<div class="field-action">
		<%= f.submit "#{t "common.save"}", :class => "button is-primary is-block" %>
	</div>

<% end %>