<!-- <a href="<%= ads_path %>" class="back-link">&larr; Back</a> -->

<div class="ad">
	<%= render "show" %>
	<%= render "ad_stats" %>
	
	<div class="ads-contactinfo">
		<% if @show_contact_info %>
			<%= render "contact_info", :user => @ad.user if @show_contact_info %>
		<% else %>
			<h3>Seller</h3>
			<p>
				<%=@ad.user.name ? @ad.user.name : @ad.user.email %>
			</p>
			<%= form_tag(show_contact_info_path) do %>
				<button class="button is-primary">Show Contact Information</button>
			<% end %>
		<% end %>
	</div>

	<div class="ad-actions">
		<a href="" class="button is-block not-implemented">
			Add to favorites
		</a>
		<%= link_to(t("common.edit"), edit_ad_path(@ad), :class => "button is-block") if current_user && (current_user.id == @ad.user.id || current_user.admin?) %>
		<%= link_to "#{t "common.delete"}", @ad, remote: true, method: :delete,  :class => "button is-block is-danger", data: { confirm: "#{t "views.ad.show.delete_confirmation"}" } if current_user && current_user.admin? %>
	</div>
</div>