<div class="ad">
	<div class="ad-main">
		<%= render "show" %>
		<div class="ad-actions">
	<%# if current_user %>
		<% link_to "Favorite",   ad_favorite_path(@ad, type: "favorite"), method: :put %>
		<% link_to "Unfavorite", ad_favorite_path(@ad, type: "unfavorite"), method: :put %>
	<%# end %>
		<a href="" class="button is-block not-implemented">
			Add to favorites
		</a>
		<%= link_to(t("common.edit"), edit_ad_path(@ad), :class => "button is-block") if current_user && (current_user.id == @ad.user.id || current_user.admin?) %>
		<%= link_to "#{t "common.delete"}", @ad, remote: true, method: :delete,  :class => "button is-block is-danger", data: { confirm: "#{t "views.ad.show.delete_confirmation"}" } if current_user && current_user.admin? %>
	</div>
	</div>
	<div class="ad-sidebar">
		<%#= render "ad_stats" %>
		<h3>Location</h3>
		<% if @ad.lat && @ad.lng %>
		<div class="ad-staticmap">
			<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @ad.lat%>,<%= @ad.lng%>&zoom=8&size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C<%= @ad.lat%>,<%= @ad.lng%>" alt="">
		</div>
		<% end %>
		<p class="ad-address"><%= @ad.village %>, <%= @ad.region.name %></p>

		<hr>

		<div class="ad-contactinfo">
			<h3>Seller</h3>
			<h4 class="ad-seller-name"><%=@ad.user.name %></h4>
			<div id="contact-info"></div>
			<% if @show_contact_info %>
				<%= render "contact_info", :user => @ad.user %>
			<% else %>
				<%= form_tag(show_contact_info_path, :remote => true, :authenticity_token => true) do %>
					<button id="contact-info-toggle" class="button is-block is-primary">Show Contact Information</button>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

	


<script>
	$(document).on('ajaxError', function(event, xhr) {
		if (xhr.status === 401 || xhr.status === 403) {
			alert('<%= t "common.you_need_to_login_first" %>');
			window.location.href = '<%= new_user_session_path %>';
		}
	});
</script>