<a href="<%= ads_path %>" class="back-link">&larr; Back</a>

<div class="ad">
	<%= render "show" %>

	<%= render "ad_stats" %>

	<div class="ad-actions">
		<a href="" class="button is-block is-primary not-implemented">
			Show Contact Information
		</a>
		<a href="" class="button is-block not-implemented">
			Add to favorites
		</a>
		<%= link_to(t("common.edit"), edit_ad_path(@ad), :class => "button is-block") if current_user && (current_user.id == @ad.user.id || current_user.admin?) %>
		<%= link_to "#{t "common.delete"}", @ad, remote: true, method: :delete,  :class => "button is-block is-danger", data: { confirm: "#{t "views.ad.show.delete_confirmation"}" } if current_user && current_user.admin? %>
	</div>
</div>