<div class="formlayout">
		<div class="formlayout-column">

		<h2><%= t "views.edit_profile.heading" %></h2>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true, html: { method: :put }) do |f| %>
			<%= devise_error_messages! %>
			<fieldset>

				<div class="field">
					<%= f.label :name, class: "field-label" %>
					<%= f.text_field :name, autofocus: true, :validate => true %>
				</div>

				<div class="field">
					<%= f.label :email, class: "field-label" %>
					<%= f.email_field :email, :validate => true %>
				</div>

				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div><%= t "views.edit_profile.waiting_for_confirmation"%> <%= resource.unconfirmed_email %></div>
				<% end %>
			</fieldset>

			<fieldset>
				<h4><%= t "views.edit_profile.address" %></h4>

				<div class="field">
					<%= f.label :village, class: "field-label" %>
					<%= f.text_field :village, :validate => true %>
				</div>

				<div class="field">
					<%= f.label :region, class: "field-label" %>
					<%= f.select :region_id, Region.all.collect {|a| [ a.name, a.id ] }, {prompt: "#{t "views.edit_profile.select_region"}"} %>
				</div>

				<div class="field">
					<%= f.label :phone_number, class: "field-label" %>
					<%= f.telephone_field :phone_number, :validate => true, class: "is-small" %>
				</div>

			</fieldset>

			<fieldset>
				<h4><%= t "views.edit_profile.preferred_language" %></h4>
				<%#= f.label :language, class: "field-label" %>
				<div class="field field-radiolist">
					<%= f.radio_button :language, :sw %>
					<%= f.label :language, "#{t "common.swahili"}", :value => "sw" %>

					<%= f.radio_button :language, :en %>
					<%= f.label :language, "#{t "common.english"}", :value => "en" %>
				</div>


			</fieldset>

			<fieldset>
				<h4><%= t "view.edit_profile.change_password" %></h4>
				<p><%=t("views.edit_profile.leave_blank")%></p>

				<div class="field">
					<%= f.label :password, class: "field-label" %>
					<%= f.password_field :password, autocomplete: "off" %>
					<% if @validatable %>
					<p>adsjlfkjsd</p>
						<span class="field-hint">(<%= t("views.edit_profile.minimum_password_length", :length =>  @minimum_password_length) %>)</span>
					<% end %>
				</div>

				<div class="field">
					<%= f.label :password_confirmation, class: "field-label" %>
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div>

			</fieldset>



			<fieldset>
				<h4><%= t "views.edit_profile.confirm_your_changes" %></h4>
				<div class="field">
					<%= f.label :current_password, class: "field-label" %>
					<%= f.password_field :current_password, :validate => true, autocomplete: "off" %>
					<span class="field-hint"><%=t "views.edit_profile.need_password_for"%></span>
				</div>

			</fieldset>

			<div class="actions">
				<%= f.submit "#{t "views.edit_profile.save_changes"}", class: "button is-primary is-block" %>
			</div>
		<% end %>
	</div>

	<div class="formlayout-column">
		<h2>Help</h2>
		<p>Here we can put help information.</p>
	</div>
</div>

<!-- <hr>

<h2><%= t "views.edit_profile.cancel_account" %></h2>

<p><%= t "view.edit_profile.unhappy?" %> <%= button_to "#{t "views.edit_profile.cancel_account"}", registration_path(resource_name), data: { confirm: "#{t "common.are_you_sure?"}" }, method: :delete, class: "button is-danger is-block" %></p>

<%#= link_to  "#{t "common.back"}", :back, class: "back-link" %>
 -->