<div class="login">
	<div class="login-column">
		<h3><%= t "views.create_account.heading" %></h3>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true } ) do |f| %>
			<%= devise_error_messages! %>
			<p>

			<div class="field">
				<%= f.label (I18n.locale == :sw ? "Namba ya simu au barua pepe" : "Phone number or email"), class: "field-label" %>
 				<%= f.text_field :login, placeholder: "+255123456789") %>
			</div>

			<div class="field">
				<%= f.label (I18n.locale == :sw ? "Jina" : "Name"), class: "field-label" %>
				<%= f.text_field :name, placeholder: (I18n.locale == :sw ? "Ingie jina" : "Please enter your name") %>
			</div>

			<% if f.object.password_required? %>
				<div class="field">
					<%= f.label :password, class: "field-label" %>
					<%= f.password_field :password, autocomplete: "off", placeholder: (I18n.locale == :sw ? "Chague nenosiri" : "Choose a password") %>
					<% if @validatable %>
					<span class="field-hint"><%= @minimum_password_length %> <%= t "views.create_account.characters_minimum" %></span>
					<% end %>
				</div>

				<div class="field">
					<%= f.label :password_confirmation, class: "field-label" %>
					<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: (I18n.locale == :sw ? "Andike nenosiri tena" : "Enter your password again") %>
				</div>
			<% end %>

			<div class="field field-checkbox">
				<%= f.check_box :agreement, checked: true %>
				<label for="user_agreement">
					<%= t "views.create_account.agreement_text_1" %>  <%= link_to "#{t "views.create_account.agreement_text_2"}", terms_path, :target => "_BLANK" %>
				</label>
			</div>
			<hr>
			<div class="field-actions">
				<%= f.submit "#{t "views.create_account.sign_up"}", class: "button is-block" %>
			</div>
		<% end %>
	</div>
	<div class="login-column">
		<h3><%= t "views.create_account.heading_2" %></h3>
		
		<p>
			<%= link_to "#{t "devise.phrases.log_in"}", new_session_path(resource_name), :class => "button is-block" %>
		</p>
	</div>
</div>