<div class="login">
	<div class="login-column">
		<h1><%= t "views.create_account.heading" %></h1>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true } ) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email, class: "field-label" %>
				<%= f.email_field :email, autofocus: true %>
			</div>

			<hr>

			<% if f.object.password_required? %>
				<div class="field">
					<%= f.label :password, class: "field-label" %>
					<%= f.password_field :password, autocomplete: "off" %>
					<% if @validatable %>
					<span class="field-hint"><%= @minimum_password_length %> <%= t "views.create_account.characters_minimum" %></span>
					<% end %>
				</div>

				<div class="field">
					<%= f.label :password_confirmation, class: "field-label" %>
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div>
			<% end %>

			<div class="field field-checkbox">
				<%= f.check_box :agreement %>
				<label for="user_agreement">
					<%= t "views.create_account.agreement_text_1" %>  <%= link_to "#{t "views.create_account.agreement_text_2"}", terms_path, :target => "_BLANK" %>
				</label>
			</div>

			<div class="field-actions">
				<%= f.submit "#{t "views.create_account.sign_up"}", class: "button is-block" %>
			</div>
		<% end %>
	</div>
	<div class="login-column">
		<h2><%= t "views.create_account.heading_2" %></h2>
		<p>
			<%= link_to "#{t "devise.phrases.log_in"}", new_session_path(resource_name), :class => "button is-block" %>
		</p>
		<p>
			<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block" do%>
				<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
					this.src='<%= image_path("icons/facebook.png") %>'">
				<%if params[:locale] === "en" %>
					Log in with Facebook
				<% else %>
					Jisajili na Facebooka
				<% end %>
			<% end %>
		</p>
	</div>
</div>