<div class="login">
	<div class="login-column">
		<h1><%= t "views.create_account.heading" %></h1>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email, class: "field-label" %>
				<%= f.email_field :email, autofocus: true %>
			</div>

			<hr>

			<div class="field">
				<%= f.label :password, class: "field-label" %>
				<%= f.password_field :password, autocomplete: "off" %>
				<% if @validatable %>
				<span class="field-hint"><%= @minimum_password_length %> <%= t "views.create_account.characters_minimum" %></span>
				<% end %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation, class: "field-label" %>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

			<div class="field-actions">
				<%= f.submit "#{t "views.create_account.sign_up"}", class: "button is-primary is-block" %>
			</div>
		<% end %>
	</div>
	<div class="login-column">
		<h2><%= t "views.create_account.heading_2" %></h2>
		<p class="text-center">
			<%= link_to "#{t "devise.phrases.log_in"}", new_session_path(resource_name), :class => "button is-primary is-block" %>
		</p>
	</div>
</div>