<div class="panel panel-default">
	<div class="panel-heading">
		<p><%= link_to (I18n.locale == :sw ? 'Kijisanduka' : 'Inbox'), conversations_path, class: 'button is-block'%></p>
		<strong><h3><%= @conversation.subject %></h3></strong>
	</div>

	<div class="panel-body">
		<div class="messages">
			<% @conversation.receipts_for(current_user).each do |receipt| %>
				<% message = receipt.message %>
				<% if message.sender == current_user %>
				<div class="messages-item-mine">
				<% else %>
				<div class="messages-item">
				<% end %>
					<% if !message.sender.photo_url.nil? %>
						<img src=<%= "#{message.sender.photo_url}" %> class="avatar" style="margin-bottom: 12px;">
					<% end %>
					<div class="message-header">
						<strong><%= message.sender.name || message.sender.phone_number || message.sender.email %></strong>
					</div>
					<div class="message-body">
						<%= message.body %>
					</div>
					<div class="message-footer">
						<small><i><%= message.created_at.strftime("%H:%M") + " - " + message.created_at.strftime("%A %e %B, %Y")%></i></small>
					</div>
				</div>

			<% end %>
		</div>
	</div>

	<%= form_tag reply_conversation_path(@conversation), method: :post do %>
		<div class="form-group">
			<%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Andike ujumbe hapa', required: true %>
  		</div>
  		<%= submit_tag (I18n.locale == :sw ? "Peleke ujumbe" : "Send message"), class: 'button is-block' %>
	<% end %>
</div>