<div class="login">
	<div class="login-column">
		<h2><%= t "devise.phrases.reset_password" %></h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div class="field-actions">
				<%= f.submit "#{t "devise.phrases.reset_password"}", :class => "button is-primary is-block" %>
			</div>
		<% end %>
	</div>
	<div class="login-column">

	</div>
</div>

