<div class="login">
	<div class="login-column">
		<h2><%= t "devise.phrases.reset_password" %></h2>

		<%= form_for(resource, as: resource_name, url: sms_reset_path(resource_name), html: { method: :patch }) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :phone_number %>
				<%= f.telephone_field :phone_number, autofocus: true %>
			</div>

			<div class="field-actions">
				<%= f.submit "#{t "devise.phrases.reset_password"}", :class => "button is-primary is-block" %>
			</div>
		<% end %>
	</div>
	<div class="login-column">
		<h2><%= (I18n.locale == :en ? "Prefer to sign in using Facebook?" : "Je, unapendelea kuingia kwa kutumia Facebook?") %></h2>
		
		<p>
			<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block is-facebook" do%>
				<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
					this.src='<%= image_path("icons/facebook.png") %>'">
				<%if I18n.locale == :en %>
					Log in with Facebook
				<% else %>
					Jisajili na Facebook
				<% end %>
			<% end %>
		</p>
	</div>
</div>

