	<div class="indexoptions">
		<% if admin_user? %>
			<%= link_to("Admin Page", admin_analytics_path, :class => "button primarynav-button is-primary") %>
		<% end %>
		<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block is-facebook" do%>
				<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
					this.src='<%= image_path("icons/facebook.png") %>'">
				<%if I18n.locale == :en %>
					Log in with Facebook
				<% else %>
					Jisajili na Facebook
				<% end %>
			<% end %>
		<%= link_to("#{t "views.navigation.sign_up"}", new_user_registration_path, :class => "button primarynav-button is-primary") %>
		<%= link_to("#{t "views.navigation.login"}", new_user_session_path, :class => "button primarynav-button is-primary") %>
	</div>
