<div class="indexoptions">
	<div class="splashtext">
		<strong><%= "#{t "common.title_header"}" %></strong>
		<br>
		<br>
		<strong><%= "#{t "common.explore_market"}" %></strong>
		<br>
	</div>
	
	<div class="fp-buttons">

		<%= link_to ads_path, :class => "button primarynav-button is-primary", :style => "flex-direction: column;" do %>
			<h5 style="margin: 0px;"><%= "#{t "common.search_ad"}" %></h5>
			<p style="font-size: 14px; margin: 0px;"><%= "#{t "common.search_ad_sub"}" %></p>
		<% end %>

		<%= link_to new_ad_path, :class => "button primarynav-button is-primary", :style => "flex-direction: column;" do %>
			<h5 style="margin: 0px;"><%= "#{t "common.new_ad"}" %></h5>
			<p style="font-size: 14px; margin: 0px;"><%= "#{t "common.new_ad_sub"}" %></p>
		<% end %>
	</div>
</div>