<div class="indexoptions">
<% ab_test "frontpage", "simple", "complex" do |style| %>
<% if style == "simple" %>
	<% if current_user && current_user.admin? %>
		<%= link_to("Admin Page", admin_analytics_path, :class => "button primarynav-button is-primary") %>
	<% end %>
	<div class="splashtext">
	<% if I18n.locale == :sw %>
	<strong>Asante kwa kutembelea NINAYO, mtandao bora unaotumiwa na maelfu ya wakulima</strong>
		<p><strong>Kuanza, bofya moja ya vitufe hapa chini:</strong></p>
		<br>
	<% else %>
	<strong>Welcome to NINAYO, the free network used by thousands of farmers</strong>
	<strong>To get started, choose one of the options below</strong>
		<br>
	<% end %>
	</div>
	<% unless current_user && current_user.id %>
	<strong><%= (I18n.locale == :en ? "Connect to NINAYO with Facebook:" : "Kuungana na NINAYO na Facebook:") %></strong>
	<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block is-facebook" do%>
				<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
					this.src='<%= image_path("icons/facebook.png") %>'">
				<%if I18n.locale == :en %>
					Log in with Facebook
				<% else %>
					Jisajili na Facebook
				<% end %>
			<% end %>
	<p><strong><%= (I18n.locale == :en ? "Don't have a Facebook account? Create an account with NINAYO:" : "Huna akaunti Facebook? Fungua akaunti na NINAYO") %> </strong></p>
	<%= link_to("#{t "views.navigation.sign_up"}", new_user_registration_path, :class => "button primarynav-button is-primary") %>
	<% end %>
	<div class="fp-buttons">
		<%= link_to("#{t "common.want_sell"}", new_ad_path, :class => "button primarynav-button is-primary") %>
		<%= link_to("#{t "common.want_buy"}", ads_path, :class => "button primarynav-button is-primary") %>
	</div>
	<%= link_to((I18n.locale == :sw ? "NINAYO ni nini?" : "What is NINAYO?"), splash_instructions_path, :class => "button is-block")%>
<% end %>

<% if style == "complex" %>
	<% if current_user && current_user.id %>	
		<%= "Karibu, #{current_user.name || 'rafiki'}" %>
		<div class="splashoptions" style="display: flex;">
		<div class="optionbuttons" style="display: flex; flex-direction: row; flex-flow: row wrap;">
		<div class="row1" style="width: 100%; display: flex; flex-direction: row; justify-content: space-around;">
		<div class="optionbutton" style="display: flex; flex-direction: column; align-items: center;">
		<%= link_to conversations_path, :class => "button" do %>
			<img src="<%= image_path("icons/mail.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null; this.src='<%= image_path("icons/mail.png") %>'">
			<% end %>
			<%= (I18n.locale == :sw ? "Ujumbe Wangu" : "My Messages") %>
		</div>
		<div class="optionbutton" style="display: flex; flex-direction: column; align-items: center;">
		<%= link_to mypage_current_path, :class => "button" do %>
			<img src="<%= image_path("icons/tachometer.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null; this.src='<%= image_path("icons/tachometer.png") %>'">
				<% end %>
				<%= (I18n.locale == :sw ? "Matangazo Yangu" : "My active ads") %>
		</div>
		</div>
		<div class="row2" style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
		<div class="optionbutton" style="display: flex; flex-direction: column; align-items: center;">
		<%= link_to edit_user_registration_path, :class => "button" do %>
					<img src="<%= image_path("icons/user.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null; this.src='<%= image_path("icons/user.png") %>'">
					<% end %>
			<%= (I18n.locale == :sw ? "Habari Yangu" : "Edit my info") %>
		</div>

		<div class="optionbutton" style="display: flex; flex-direction: column; align-items: center;">
		<%= link_to destroy_user_session_path, method: :delete, :class => "button is-danger"  do %>
						<img src="<%= image_path("icons/sign-out.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null; this.src='<%= image_path("icons/sign-out.png") %>'">
					<% end %>
			<%= t "views.navigation.log_out" %>
		</div>
		</div>
		</div>
		</div>
		<br>
		<hr style="width: 100%;">
		<div class="splashsell", style="display: block;">
			<%= link_to("#{t "common.want_sell"}", new_ad_path, :class => "button primarynav-button is-primary") %>
		</div>
		<hr style="width: 100%;">
		<div class="splashsearch", style="display: flex; padding: 0px 20px 20px 20px;">
			<div class="sticky-filter" style=" flex-direction: column; align-items: center">

	<form action="<%= ads_path %>" id="filter-form" method="get">


		<div class="field filter-field">
		<div class="filterdiv">
		<div class="filterrow">
		<% if I18n.locale == :sw %>
			<span> Mimi natafuta </span>
		<% else %>
			<span> I want to buy </span>
		<% end %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(CropType.all, "id", "name", @crop_type_id), style: "width: 135px;", prompt: "all crops" if I18n.locale == :en %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(CropType.all, "id", "name_sw", @crop_type_id), style: "width: 135px;", prompt: "mazao yote" if I18n.locale == :sw %>
		</div>
			<div class="filterrow">
		<% if I18n.locale == :sw %>
			<span> Orodha ya mazao kwa mkoa </span>
		<% else %>
			<span> I am located in </span>
		<% end %>
			<%= select_tag "region_id", options_from_collection_for_select(Region.all, "id", "name", @region_id), style: "width: 135px;", prompt: (I18n.locale == :sw ? "popote" : "anywhere") %>
		</div>
			<input type="submit" value="<%= I18n.locale == :sw ? "Matangazo" : "Search" %>" class="button primarynav-button is-primary"/>
		</div>
		</div>
	</form>
	</div>
	</div>
	<% else %>
	<p><strong>Asante kwa kutembelea NINAYO, mtandao bora unaotumiwa na maelfu ya wakulima</strong></p> 
	<div class="splashbuttons" style="width: 100%; display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 15px;">
	<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-facebook" do%>
					<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
						this.src='<%= image_path("icons/facebook.png") %>'">
				<% end %>
				<%= link_to((I18n.locale == :sw ? "Jisajili" : "Sign up"), new_user_registration_url, :class => "button") %>
				<%= link_to((I18n.locale == :sw ? "Ingia" : "Login"), new_user_session_path, :class => "button") %>
	</div>

	<%= link_to((I18n.locale == :sw ? "NINAYO ni nini?" : "What is NINAYO?"), splash_instructions_path, :class => "button is-block")%>

	<hr style="width: 100%;">

	<div class="splashsell" style="display: block;">
			<%= link_to("#{t "common.want_sell"}", new_ad_path, :class => "button primarynav-button is-primary") %>
	</div>
		<div class="splashsearch" style="display: flex; padding: 0px 20px 20px 20px;">
			<div class="sticky-filter" style=" flex-direction: column; align-items: center">

	<form action="<%= ads_path %>" id="filter-form" method="get">


		<div class="field filter-field">
		<div class="filterdiv">
		<div class="filterrow">
		<% if I18n.locale == :sw %>
			<span> Mimi natafuta </span>
		<% else %>
			<span> I want to buy </span>
		<% end %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(CropType.all, "id", "name", @crop_type_id), style: "width: 135px;", prompt: "all crops" if I18n.locale == :en %>
			<%= select_tag "crop_type_id", options_from_collection_for_select(CropType.all, "id", "name_sw", @crop_type_id), style: "width: 135px;", prompt: "mazao yote" if I18n.locale == :sw %>
		</div>
			<div class="filterrow">
		<% if I18n.locale == :sw %>
			<span> Orodha ya mazao kwa mkoa </span>
		<% else %>
			<span> I am located in </span>
		<% end %>
			<%= select_tag "region_id", options_from_collection_for_select(Region.all, "id", "name", @region_id), style: "width: 135px;", prompt: (I18n.locale == :sw ? "popote" : "anywhere") %>
		</div>
			<input type="submit" value="<%= I18n.locale == :sw ? "Matangazo" : "Search" %>" class="button primarynav-button is-primary"/>
		</div>
		</div>
	</form>
	</div>
	</div>

	<% end %>
<% end %>
<% end %>
</div>