<div class="indexoptions">
	<% if current_user && current_user.admin? %>
		<%= link_to("Admin Page", admin_analytics_path, :class => "button primarynav-button is-primary") %>
	<% end %>
	<div class="splashtext">
	<p><strong>Asante kwa kutembelea NINAYO, mtandao bure unaotumiwa na maelfu ya wakulima</strong></p> 
	<% if current_user.nil? %>
		<p><strong>Kuanza, kuingia kwa Facebook na bofya moja ya vitufe hapa chini:</strong></p>
		<br>
		<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block is-facebook" do%>
			<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
				this.src='<%= image_path("icons/facebook.png") %>'">
			<%if params[:locale] === "en" %>
				Log in with Facebook
			<% else %>
				Jisajili na Facebook
			<% end %>
		<% end %>
	<% else %>
		<p><strong>Kuanza, bofya moja ya vitufe hapa chini:</strong></p>
	</div>

	<%= link_to("#{t "common.want_sell"}", new_ad_path, :class => "button primarynav-button is-primary") %>
	<%= link_to("#{t "common.want_buy"}", ads_path, :class => "button primarynav-button is-primary") %>

</div>