<div class="indexoptions">
	<div class="splashtext">
		<% unless current_user && current_user.id %>
			<strong><%= "#{t "common.title_header"}" %></strong>
			<br>
			<br>
		<% end %>
		<strong><%= "#{t "common.explore_market"}" %></strong>
		<br>
		<br>
	</div>
	
	<div class="fp-buttons">
		<%= link_to ads_path, :class => "button primarynav-button is-primary", :style => "flex-direction: column; padding-bottom: 6px;" do %>
			<h5 style="margin: 0px;"><%= "#{t "common.search_ad"}" %></h5>
			<p style="font-size: 14px; margin: 0px;"><%= "#{t "common.search_ad_sub"}" %></p>
		<% end %>

		<%= link_to new_ad_path, :class => "button primarynav-button is-primary", :style => "flex-direction: column; padding-bottom: 6px;" do %>
			<h5 style="margin: 0px;"><%= "#{t "common.new_ad"}" %></h5>
			<p style="font-size: 14px; margin: 0px;"><%= "#{t "common.new_ad_sub"}" %></p>
		<% end %>
	</div>
</div>