<div class="indexoptions">
	<div class="whitebox splashtext">
		<h2><%= "#{t "common.explore_market"}" %></h2>

		<%= link_to ads_path, :class => "btn orange" do %>
			<i class="material-icons left">search</i>
			<span class="center">
				<h5><%= "#{t "common.search_ad"}" %></h5>
				<span class="supheading"><%= "#{t "common.search_ad_sub"}" %></span>
			</span>
		<% end %>
		<br />
		<%= link_to new_ad_path, :class => "btn orange" do %>
			<i class="material-icons left">create</i>
			<span class="center">
				<h5><%= "#{t "common.new_ad"}" %></h5>
				<span class="supheading"><%= "#{t "common.new_ad_sub"}" %></span>
			</span>
		<% end %>

		<% unless current_user && current_user.id %>
			<div style="margin-top:40px;">
				<h1><%= "#{t "common.title_header"}" %></h1>
			</div>
		<% end %>
	</div>
</div>