<div class="indexoptions">
	<div class="splashtext">
	<% if I18n.locale == :sw %>
	<strong>Asante kwa kutembelea NINAYO, mtandao bora unaotumiwa na maelfu ya wakulima.</strong>
	<br>
	<br>
	<strong>GUNDUA SOKO</strong>
	<hr>
	<% else %>
	<strong>NINAYO is a free marketplace used by thousands of farmers to sell their crops. </strong>
	<br>
	<br>
	<strong>EXPLORE THE MARKETPLACE</strong>
	<hr>
	<% end %>
	</div>
	
	<div class="fp-buttons">

		<%= link_to ads_path, :class => "button primarynav-button is-primary", :style => "flex-direction: column;" do %>
			<h5 style="margin: 0px;"><%= "#{t "common.search_ad"}" %></h5>
			<p style="font-size: 14px; margin: 0px;"><%= "#{t "common.search_ad_sub"}" %></p>
		<% end %>

		<%= link_to new_ad_path, :class => "button primarynav-button is-primary", :style => "flex-direction: column;" do %>
			<h5 style="margin: 0px;"><%= "#{t "common.new_ad"}" %></h5>
			<p style="font-size: 14px; margin: 0px;"><%= "#{t "common.new_ad_sub"}" %></p>
		<% end %>
	</div>
</div>