<div>

	<%if I18n.locale == :en %>

		<p><strong>Welcome to NINAYO, the free crop-trading service used by over ten thousand Tanzanian farmers. There's no cost to post an advertisement to buy and sell, and it's an easy way to make more money from your crops.</strong></p>

		<p>To post a free ad to buy or sell products/crops, select the option to buy and sell on the home page. Fill in the form, press submit(used post), and you're done. Interested buyers and sellers will contact you.</p>

		<p>To find crops already for sale, select the option to view crops and prices on the home page. Change the settings at the top of the screen to view specific crops or places, then select an ad you're interested in. Use the "Call Sim", "SMS”, and  "Message" buttons to get in touch with the ad poster and negotiate your sale.</p>

		<p>To return to the home page, select the NINAYO logo at the top of the screen at any time.</p>

		<p>Let us know what you think about NINAYO: Send us an email with your feedback and suggestions at <a href="mailto:info@ninayo.com.com" target="_top">info@ninayo.com</a>. If you have questions or a problem, please email us at <a href="mailto:support@ninayo.com.com" target="_top">support@ninayo.com</a></p>
		
	<% else %>

		<p><strong>Karibu NINAYO! Mtandao wa bure unaotoa huduma za mauzo na ununuzi wa mazao unaotumiwa na maelfu ya wakulima Tanzania. Hakuna gharama za kuweka matangazo ya kununua na kuuza mazao, na ni njia rahisi ya kupata pesa zaidi kutokana na mazao yako.</strong></p>

		<p>Kuweka tangazo la bure la kununua au kuuza bidhaa/mazao, chagua “kununua na kuuza” katika ukurasa wa mwanzo. Jaza fomu, kisha bofya “tangaza” na umemaliza! Wanunuzi na wauzaji watawasiliana nawe wakivutiwa na tangazo lako.</p>

		<p>Kuona matangazo ya mazao yanayouzwa, chagua “orodha ya matangazo” katika ukurasa wa mwanzo. Juu ya ukurasa, unaweza kubadili vigezo ili uone mazao au maeneo maalum, kisha chagua tangazo linalo kidhi mahitaji yako. Tumia vitufe vya "Piga Simu", "SMS", na "Ujumbe" kuwasiliana na muuzaji na kujadili mauziano.</p>

		<p>Kurudi ukurasa wa mwanzo, bofya kwenye alama ya NINAYO hapo juu.</p>

		<p>Tupe maoni au mapendekezo yako kuhusu NINAYO kwa kupitia <a href="mailto:info@ninayo.com.com" target="_top">info@ninayo.com</a></p>
		<p>Kama una maswali au tatizo, tafadhali wasiliana nasi kwa kupitia <a href="mailto:support@ninayo.com.com" target="_top">support@ninayo.com</a></p>
	<% end %>

	<% unless current_user %>
	<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-facebook" do%>
					<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
						this.src='<%= image_path("icons/facebook.png") %>'">
				<% end %>
				<%= link_to((I18n.locale == :sw ? "Jisajili" : "Sign up"), new_user_registration_url, :class => "button") %>
				<%= link_to((I18n.locale == :sw ? "Ingia" : "Login"), new_user_session_path, :class => "button") %>
	<% end %>

	<%= link_to (I18n.locale == :sw ? "Rudi ukurasa wa mwanzo" : "Back to homepage"), root_path, :class => "button is-block", :style => "background-color: gray;" %>

</div>