<div>

	<% unless current_user %>
	<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block" do%>
		<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
			this.src='<%= image_path("icons/facebook.png") %>'">
		<%if I18n.locale == :en %>
			Log in with Facebook
		<% else %>
			Jisajili na Facebook
		<% end %>
	<% end %>

	<%= link_to "#{t "devise.phrases.sign_up_now"}", new_user_registration_path, class: "button is-block" %>
	<% end %>

	<%if I18n.locale == :en %>

		<p><strong>NINAYO is a tool to help you buy or sell crops.</strong></p>

		<ul>
			<li>Click “Ninataka kuuza” to post an advertisement for your crops</li>
			<li>To find the prices of crops being sold click "I want to buy" and then "Filter” and you can search by location, price, quantity and type</li>
			<li>To find the prices buyers are offering click "I want to buy” and  then "Filter" and then "Buy" to search by location, price, quantity and type</li>
		</ul>

	<% else %>

		<p><strong>NINAYO ni mtandao unakusaidia kununua au kuuza mazao.</strong></p>

		<ul>
		<li>Bonyeza "Ninataka kuuza" kuweka tangazo lako la zao/mazao </li>

		<li>Ili kupata bei za mazao yanayouzwa, bonyeza "Ninataka Kununua" na kisha bonyeza "Vigezo" na utaweza kutafuta zao/mazao kwa njia ya mahali, bei, kiasi na aina</li>

		<li>Ili kupata bei ambazo wanunuzi hutaka, bonyeza "Ninataka Kununua" na kisha bonyeza "Vigezo" na kisha bonyeza "Kununua" na utaweza kutafuta zao/mazao kwa njia ya mahali, bei, kiasi na aina</li>
		</ul>
	<% end %>
	<% unless current_user %>
	<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block" do%>
		<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
			this.src='<%= image_path("icons/facebook.png") %>'">
		<%if I18n.locale == :en %>
			Log in with Facebook
		<% else %>
			Jisajili na Facebook
		<% end %>
	<% end %>

	<%= link_to "#{t "devise.phrases.sign_up_now"}", new_user_registration_path, class: "button is-block" %>
	<% end %>

	<%= link_to("#{t "common.want_sell"}", new_ad_path, :class => "button is-block") %>
	<%= link_to("#{t "common.want_buy"}", ads_path, :class => "button is-block") %>

</div>