<div>

	<%if I18n.locale == :sw %>

		<p><strong>Karibu NINAYO! Mtandao wa bure unaotoa huduma za mauzo na ununuzi wa mazao unaotumiwa na maelfu ya wakulima Tanzania. Hakuna gharama za kuweka matangazo ya kununua na kuuza mazao, na ni njia rahisi ya kupata pesa zaidi kutokana na mazao yako.</strong></p>

		<p>Kuweka tangazo la bure la kununua au kuuza bidhaa/mazao, chagua “kununua na kuuza” katika ukurasa wa mwanzo. Jaza fomu, kisha bofya “tangaza” na umemaliza! Wanunuzi na wauzaji watawasiliana nawe wakivutiwa na tangazo lako.</p>

		<p>Kuona matangazo ya mazao yanayouzwa, chagua “orodha ya matangazo” katika ukurasa wa mwanzo. Juu ya ukurasa, unaweza kubadili vigezo ili uone mazao au maeneo maalum, kisha chagua tangazo linalo kidhi mahitaji yako. Tumia vitufe vya "Piga Simu", "SMS", na "Ujumbe" kuwasiliana na muuzaji na kujadili mauziano.</p>

		<p>Kurudi ukurasa wa mwanzo, bofya kwenye alama ya NINAYO hapo juu.</p>

		<p>Tupe maoni au mapendekezo yako kuhusu NINAYO kwa kupitia <a href="mailto:info@ninayo.com" target="_top">info@ninayo.com</a></p>
		<p>Kama una maswali au tatizo, tafadhali wasiliana nasi kwa kupitia <a href="mailto:support@ninayo.com" target="_top">support@ninayo.com</a></p>
		
	<% else %>

		<p>NINAYO.com is an online trading platform for agriculture in East Africa. NINAYO launched in Tanzania in 2015, and uses crowd-sourced data to provide actionable business intelligence for its users. NINAYO users, typically small holder farmers with an average annual income of $637, are earning $100’s more with this tool.</p>

		<hr>
			<div class="info-pictures" style="display:flex; flex-direction: row; justify-content: space-around;">
				<img src="<%= image_path("info_village.jpg") %>" style="border: 1px solid black; height: 350px; width: 350px;">
				<img src="<%= image_path("info_truck.jpg") %>" style="border: 1px solid black; height: 350px; width: 350px;">
			</div>
		<hr>

		<p>Founder Jack Langworthy has conducted business in the Tanzanian agriculture sector since 2009.  NINAYO.com is a tool to solve specific problems he faced in that sector:</p>

		<ul>
			<li>Lack of supply visibility (buyers don’t know what crops farmers are selling)</li>
			<li>Lack of demand visibility (farmers don’t know how much buyers are willing to pay)</li>
			<li>Lack of logistical coordination (inefficient transportation skyrockets costs)</li>
		</ul>

		<p>An understanding of emerging markets is necessary to explain our value proposition. As Tanzania exemplifies these markets, consider:</p>

		<ul>
			<li>80% of Tanzania’s work force are independent farmers</li>
			<li>Farmers have little bargaining power over the sale of their crops due to poor infrastructure and a lack of communication with food processors (markets)</li>
			<li>Internet access has recently become widespread, even in poor and remote villages</li>
		</ul>

		<hr>
			<div class="info-pictures" style="display:flex; flex-direction: row; justify-content: space-around;">
				<img src="<%= image_path("info_bricks.jpg") %>" style="border: 1px solid black; height: 350px; width: 350px;">
				<img src="<%= image_path("info_avocado.jpg") %>" style="border: 1px solid black; height: 350px; width: 350px;">
			</div>
		<hr>

		<p>By enabling Tanzanian farmers to post their supply of crops they gain access to a far wider range of demand.  Food processors, likewise, have a much clearer view of the crops available in their regions.  Each side of the value chain is incentivized to use this service.</p>

		<p>Over 30% of food rots in Tanzania, while malnutrition and poverty run rampant.  If there were ever an industry in need of disruption, it’s this one.  By improving supply visibility, demand visibility and logistical coordination, more food will go to those in need at a fairer price.</p>

		<hr>
			<div class="info-pictures" style="display:flex; flex-direction: row; justify-content: space-around;">
				<img src="<%= image_path("science_logo.png") %>" style="width: 325px;">
				<img src="<%= image_path("expa_logo.png") %>">
			</div>
		<hr>

		<strong>Partners</strong>

		<p>NINAYO is based in Tanzania, but backed by Silicon Valley’s greatest investors, entrepreneurs and engineers. Our world class team is dedicated to building simple user friendly tech solutions.</p>

		<p>Our active user base and high quality product has led to crucial partnerships with the UNCDF, NAFAKA, Technoserve and Peace Corps. Together, we are leveraging private sector solutions to sustainably improve African agriculture.</p>

		<p>Thank you,<br>
		NINAYO Inc.</p>

		
	<% end %>

	<% unless current_user %>
	<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-facebook" do%>
					<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
						this.src='<%= image_path("icons/facebook.png") %>'">
				<% end %>
				<%= link_to((I18n.locale == :sw ? "Jisajili" : "Sign up"), new_user_registration_url, :class => "button") %>
				<%= link_to((I18n.locale == :sw ? "Ingia" : "Login"), new_user_session_path, :class => "button") %>
	<% end %>
	</br>
	<div>

	<strong>Kutana na uongozi wa Ninayo.com</strong>
	<p>Wawakilishi wetu wako tiyari kukusaidia upate bei nzuri zinazopatikana</p>
	<p>Kama utakuwa unahitaji msaada, jisikie huru kuwasiliana nao.</p>
	<p>Watakuwa wanakupigia simu Mara kwa Mara ili kuwasiliana na we we.</p>
	<hr>
	<div class="team-member-div">
		<img src="<%= image_path("maurus_compressor.gif") %>" class="team-member-photo">
		<div class="team-member-info">
			<div class="team-member-name">
				<b>Jina:</b> Maurus Nchimbi
			</div>
			<div class="team-member-phone">
				<b>Simu:</b> 0765520038
			</div>
			<div class="team-member-location">
				<b>Mahali:</b> Ruvuma, Dar
			</div>
			<div class="team-member-email">
				<b>Barua pepe:</b> </br>
				<a href="mailto:maurus@ninayo.com">maurus@ninayo.com</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="team-member-div">
		<img src="<%= image_path("bovan_compressor.gif") %>" class="team-member-photo">
		<div class="team-member-info">
			<div class="team-member-name">
				<b>Jina:</b> Bovan M Jankey
			</div>
			<div class="team-member-phone">
				<b>Simu:</b> 0713352562
			</div>
			<div class="team-member-location">
				<b>Mahali:</b> Iringa, Njombe, Morogoro
			</div>
		</div>
	</div>
	<hr>
	</div>

	<%= link_to (I18n.locale == :sw ? "Rudi ukurasa wa mwanzo" : "Back to homepage"), root_path, :class => "button is-block", :style => "background-color: gray;" %>

</div>