<% if @help_requests.length > 0 %>
<div class="ads">
	<% @help_requests.each do |request| %>
		<div class="posts-item">
			<div class="ads-meta" style="font-size: 16px">
				<span class="ads-published_at"><%= t "common.published" %> 
					<%= l(request.created_at, format: :short) %>
				</span>
				<span>
					<%= "(" + time_ago_in_words(request.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %>
				</span>
				<span class="rating-user">
					<%= t "common.by" + " " + (request.user ? request.user.name.titleize : "Anon User") %>
				</span>
			</div>
			<div class="ads-price" style="font-size: 16px"><%= (request.phone_number) %></div>
			<span><%= (request.email.blank? ? request.email : "No email") %></span>
			<h3 class="supheading" style="font-size: 16px; margin-bottom: 5px;">
				<%= t("request_type.seller_help") if request.seller_help? %>
				<%= t("request_type.buyer_help") if request.buyer_help? %>
				<%= t("request_type.general_help") if request.general_help? %>
				<%= t("request_type.report_problem") if request.report_problem? %>
			</h3>
			<div class="posts-location" style="font-size: 16px">
				<span>
					<%= "#{request.body}" %>
				</span>
			</div>
			<%= link_to "Resolve Ticket", close_ticket_path(request.id), data: { confirm: 'Are you sure you want to close this help request?'}, class: "button is-danger" %>
		</div>
	<% end %>
</div>

<% else %>
	<h3><%= "No currently open help tickets" %></h3>
<% end %>