<div class="new-help-request">

	<div class="panel-heading">
		<p><strong>Ombi Msaada</strong></p>
		<p>Kuwasilisha ombi la msaada na NINAYO</strong></p>
	</div>
	<hr>
	<div class="panel-heading">
		<%= form_for HelpRequest.new, :url => help_requests_path do |f| %>
			<strong><%= "Jinsi gani tunaweza kukusaidia?" %></strong><br>
			<%= f.radio_button :request_type, "seller_help" %>
	    	<%= f.label "Muuzaji msaada" %><br>
	    	<%= f.radio_button :request_type, "buyer_help" %>
	    	<%= f.label "Mnunuzi msaada" %><br><hr>
			<strong><%= f.label "#{t "activerecord.attributes.user.phone_number"}:", class: "field-label" %></strong>
	    	<%= f.telephone_field :phone_number, placeholder: "Sehemu inayohitajika" %>
	    	<strong><%= f.label "#{t "activerecord.attributes.user.email"}:", class: "field-label" %></strong>
	    	<%= f.email_field :email, placeholder: "Hiari" %><hr>
	    	<strong><%= f.label :body, value: "Shida ni nini?" %></strong>
	    	<%= f.text_area :body, placeholder: "Maoni" %><hr>
	    	<%= f.submit 'Kuwasilisha', class: "button is-block" %>
		<% end %>
	</div>
</div>