<div class="new-help-request">

	<div class="panel-heading">
		<p><strong>Help Request</strong></p>
		<p>Submit Thy Help Request to <strong>NINAYO</strong></p>
	</div>
	<hr>
	<div class="panel-heading">
		<%= form_for HelpRequest.new, :url => help_requests_path do |f| %>
			<strong><%= "What's the problem?" %></strong><br>
	    	<%= f.label :request_type, value: 0 %>
			<%= f.radio_button :request_type, 0 %><br>
	    	<%= f.label :request_type, value: 1 %>
	    	<%= f.radio_button :request_type, 1 %><br>
	    	<%= f.label :request_type, value: 2 %>
	    	<%= f.radio_button :request_type, 2 %><br>
	    	<%= f.label :request_type, value: 3 %>
	    	<%= f.radio_button :request_type, 3 %><br><hr>
			<strong><%= f.label "#{t "activerecord.attributes.user.phone_number"}:", class: "field-label" %></strong>
	    	<%= f.telephone_field :phone_number %>
	    	<strong><%= f.label "#{t "activerecord.attributes.user.email"}:", class: "field-label" %></strong>
	    	<%= f.email_field :email, placeholder: "Optional", autofocus: true %><hr>
	    	<strong><%= f.label :body, value: "Body" %></strong>
	    	<%= f.text_area :body, placeholder: "Maoni" %><hr>

	    	<%= f.submit 'Kuwaalika', class: "button is-block" %>
		<% end %>
	</div>
</div>