<div class="new-help-request">

	<%= form_for new_help_request_path do |f| %>
		<%= f.input :phone_number %>
		<%= f.input :email %>
		<%= f.radio "Buyer", "Seller" %>
		<%= f.text_area :body, placeholder: "Maoni" %><br/>
		<%= f.submit "#{t "common.save"}", :class => "button is-primary is-block" %>
	<% end %>

</div>