<div class="login">
	<div class="login-column">
		<h3><%= t "devise.phrases.log_in" %></h3>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			<div class="field">
				<%= f.label (I18n.locale == :sw ? "Namba ya simu au barua pepe" : "Phone number or email address") %>
 				<%= f.text_field :login, placeholder: "+255123456789", value: params['user_login'] %>
 				<div id="phone_taken" style="color:red; display:<%= !params['forgot'].blank? ? 'block' : 'none' %>;"><%= link_to "#{t "common.sms_password"}", "/sms_reset/reset_request?reset_request[phone_number]=#{URI.encode_www_form_component(params['user_login'].to_s.strip)}&locale=#{params['locale']}", :method => :patch %></div>
			</div>

			<div class="field">
				<%= f.label :password %>
				<%= f.password_field :password, placeholder: (I18n.locale == :sw ? "Nenosiri" : "Password"), autocomplete: "off", :validate => true %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="field">
					<%= f.check_box :remember_me, checked: true %>
					<%= f.label :remember_me %>
				</div>
			<% end %>

			<div class="field-actions">
				<div class="">
					<%= f.submit "#{t "devise.phrases.log_in"}", :class => "button only-block" %>
				</div>
				<div class="">
					<%= link_to "#{t "devise.phrases.forgot_your_password"}", new_password_path('user'), :class => "button is-danger only-block"%>
				</div>
			</div>
			<p>
				<%= link_to user_facebook_omniauth_authorize_path, :class => "button only-block is-facebook" do%>
					<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
						this.src='<%= image_path("icons/facebook.png") %>'">
					<%if I18n.locale == :en %>
						Log in with Facebook
					<% else %>
						Jisajili na Facebook
					<% end %>
				<% end %>
			</p>
		<% end %>

	</div>
	<div class="login-column">
		<h3 style="text-align: center;"><%= t "views.create_account.sidebar.heading" %></h3>
		<p><%= link_to "#{t "devise.phrases.sign_up_now"}", new_registration_path(resource_name), class: "button only-block" %></p>
	</div>
</div>
