<div class="login">
	<div class="login-column">
		<h2><%= t "devise.phrases.log_in" %></h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<p>
			<%= link_to user_omniauth_authorize_path(:facebook), :class => "button is-block is-facebook" do%>
					<img src="<%= image_path("icons/facebook.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null;
						this.src='<%= image_path("icons/facebook.png") %>'">
				<%if I18n.locale == :en %>
					Log in with Facebook
				<% else %>
					Jisajili na Facebook
				<% end %>
			<% end %>
			</p>
			<hr>
			<div class="field">
				<%= f.label (I18n.locale == :sw ? "Namba ya simu au barua pepe" : "Phone number or email address") %>
 				<%= f.text_field :login, placeholder: (I18n.locale == :sw ? "Namba ya simu au barua pepe" : "Please enter your email or phone number") %>
			</div>

			<div class="field">
				<%= f.label :password %>
				<%= f.password_field :password, placeholder: (I18n.locale == :sw ? "Nenosiri" : "Password"), autocomplete: "off", :validate => true %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="field">
					<%= f.check_box :remember_me, checked: true %>
					<%= f.label :remember_me %>
				</div>
			<% end %>

			<div class="field-actions">
				<div class="field-actions-column">
					<%= f.submit "#{t "devise.phrases.log_in"}", :class => "button is-block" %>
				</div>
				<div class="field-actions-column text-right">
					<%= link_to "#{t "devise.phrases.forgot_your_password"}", new_password_path('user'), :class => "button is-link is-block"%>
				</div>

			</div>
		<% end %>


	</div>
	<div class="login-column">
		<h3><%= t "views.create_account.sidebar.heading" %></h3>
		<p><%= t "views.create_account.sidebar.text" %></p>
		<ul>
			<li><%= t "views.create_account.sidebar.benefit_1" %></li>
			<li><%= t "views.create_account.sidebar.benefit_2" %></li>
			<li><%= t "views.create_account.sidebar.benefit_3" %></li>
			<li><%= t "views.create_account.sidebar.benefit_4" %></li>
		</ul>

		<p>
			<%= link_to "#{t "devise.phrases.sign_up_now"}", new_registration_path(resource_name), class: "button is-block" %>
		</p>

	</div>

</div>
