<table class="ads-table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
	<thead>
		<th class="text-right"><%= t "views.ad.crop_type" %>:</th>
		<th class="text-right"><%= t "views.my_page.list.price" %>:</th>
		<th class="text-right"><%= "Change" %>:</th>
		<th class="text-right"><%= I18n.locale == :en ? "Published" : "Tarehe" %>:</th>
		<% if current_view == "dar"  || current_view == "mbeya" || current_view == "iringa" -%>
			<th class="is-buttonrow"></th>
		<% end -%>
	</thead>
	<tbody>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Avocado" : "Maparachichi" %></td>
		<td class="text-right"><%= number_to_currency(@avocado_prices.first.price, precision: 0) %></td>
		<% if @avocado_prices.second.price < @avocado_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @avocado_prices.first.price - @avocado_prices.second.price %></strong></td>
		<% elsif @avocado_prices.second.price > @avocado_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @avocado_prices.first.price - @avocado_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@avocado_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@avocado_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>
	
	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Maize" : "Mahindi" %></td>
		<td class="text-right"><%= number_to_currency(@maize_prices.first.price, precision: 0) %></td>
		<% if @maize_prices.second.price < @maize_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @maize_prices.first.price - @maize_prices.second.price %></strong></td>
		<% elsif @maize_prices.second.price > @maize_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @maize_prices.first.price - @maize_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@maize_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@maize_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Tomato" : "Nyanya" %></td>
		<td class="text-right"><%= number_to_currency(@tomato_prices.first.price, precision: 0) %></td>
		<% if @tomato_prices.second.price < @tomato_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @tomato_prices.first.price - @tomato_prices.second.price %></strong></td>
		<% elsif @tomato_prices.second.price > @tomato_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @tomato_prices.first.price - @tomato_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@tomato_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@tomato_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Onion" : "Vitunguu" %></td>
		<td class="text-right"><%= number_to_currency(@onion_prices.first.price, precision: 0) %></td>
		<% if @onion_prices.second.price < @onion_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @onion_prices.first.price - @onion_prices.second.price %></strong></td>
		<% elsif @onion_prices.second.price > @onion_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @onion_prices.first.price - @onion_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@onion_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@onion_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Potato" : "Viazi" %></td>
		<td class="text-right"><%= number_to_currency(@potato_prices.first.price, precision: 0) %></td>
		<% if @potato_prices.second.price < @potato_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @potato_prices.first.price - @potato_prices.second.price %></strong></td>
		<% elsif @potato_prices.second.price > @potato_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @potato_prices.first.price - @potato_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@potato_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@potato_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	</tbody>
</table>
