<table class="ads-table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
	<thead>
		<th class="text-right"><%= t "views.ad.crop_type" %>:</th>
		<th><%= t "views.my_page.list.price" %>:</th>
		<th class="text-right"><%= "Change" %>:</th>
		<% if current_view == "dar"  || current_view == "mbeya" || current_view == "iringa" -%>
			<th class="is-buttonrow"></th>
		<% end -%>
	</thead>
	<tbody>

	<tr>
		<td class="text-right"><%= "Avocado" %></td>
		<td class="text-right"><%= number_to_currency(@avocado_prices.first.price, precision: 0) %></td>
		<% if @avocado_prices.second.price < @avocado_prices.first.price %>
			<td><span style="color: green;">▲</span>(<%= @avocado_prices.first.price - @avocado_prices.second.price %>)</td>
		<% elsif @avocado_prices.second.price > @avocado_prices.first.price %>
			<td><span style="color: red;">▼</span>(<%= @avocado_prices.first.price - @avocado_prices.second.price %>)</td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= t "common.published" %> <%= l(@avocado_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@avocado_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>
	
	<tr>
		<td class="text-right"><%= "Maize" %></td>
		<td class="text-right"><%= number_to_currency(@maize_prices.first.price, precision: 0) %></td>
		<% if @maize_prices.second.price < @maize_prices.first.price %>
			<td><span style="color: green;">▲</span>(<%= @maize_prices.first.price - @maize_prices.second.price %>)</td>
		<% elsif @maize_prices.second.price > @maize_prices.first.price %>
			<td><span style="color: red;">▼</span>(<%= @maize_prices.first.price - @maize_prices.second.price %>)</td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= t "common.published" %> <%= l(@maize_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@maize_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	<tr>
		<td class="text-right"><%= "Tomato" %></td>
		<td class="text-right"><%= number_to_currency(@tomato_prices.first.price, precision: 0) %></td>
		<% if @tomato_prices.second.price < @tomato_prices.first.price %>
			<td><span style="color: green;">▲</span>(<%= @tomato_prices.first.price - @tomato_prices.second.price %>)</td>
		<% elsif @tomato_prices.second.price > @tomato_prices.first.price %>
			<td><span style="color: red;">▼</span>(<%= @tomato_prices.first.price - @tomato_prices.second.price %>)</td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= t "common.published" %> <%= l(@tomato_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@tomato_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	<tr>
		<td class="text-right"><%= "Onion" %></td>
		<td class="text-right"><%= number_to_currency(@onion_prices.first.price, precision: 0) %></td>
		<% if @onion_prices.second.price < @onion_prices.first.price %>
			<td><span style="color: green;">▲</span>(<%= @onion_prices.first.price - @onion_prices.second.price %>)</td>
		<% elsif @onion_prices.second.price > @onion_prices.first.price %>
			<td><span style="color: red;">▼</span>(<%= @onion_prices.first.price - @onion_prices.second.price %>)</td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= t "common.published" %> <%= l(@onion_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@onion_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	<tr>
		<td class="text-right"><%= "Potato" %></td>
		<td class="text-right"><%= number_to_currency(@potato_prices.first.price, precision: 0) %></td>
		<% if @potato_prices.second.price < @potato_prices.first.price %>
			<td><span style="color: green;">▲</span>(<%= @potato_prices.first.price - @potato_prices.second.price %>)</td>
		<% elsif @potato_prices.second.price > @potato_prices.first.price %>
			<td><span style="color: red;">▼</span>(<%= @potato_prices.first.price - @potato_prices.second.price %>)</td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= t "common.published" %> <%= l(@potato_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@potato_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
	</tr>

	</tbody>
</table>
