<table class="ads-table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
	<thead>
		<th class="text-right"><%= t "views.ad.crop_type" %>:</th>
		<th class="text-right"><%= t "views.my_page.list.price" %> (kg):</th>
		<th class="text-right"><%= "Change" %>:</th>
		<th class="text-right"><%= I18n.locale == :en ? "Published" : "Tarehe" %>:</th>
		<% if current_user && current_user.admin? %>
		<th class="text-right"><%= "NINAYO price:" %></th>
		<% end %>
		<% if current_view == "dar"  || current_view == "mbeya" || current_view == "iringa" -%>
			<th class="is-buttonrow"></th>
		<% end -%>
	</thead>
	<tbody>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Groundnuts" : "Karanga" %></td>
		<td class="text-right"><%= number_to_currency(@nut_prices.first.price, precision: 0) %></td>
		<% if @nut_prices.second.price < @nut_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @nut_prices.first.price - @nut_prices.second.price %></strong></td>
		<% elsif @nut_prices.second.price > @nut_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @nut_prices.first.price - @nut_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@nut_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@nut_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
		<% if current_user && current_user.admin? %>
		<% if !@ninayo_prices["Groundnuts"].nil? %>
		<td class="text-right"><%= number_to_currency(@ninayo_prices["Groundnuts"], precision: 0 %></td>
		<% else %>
			0/=
		<% end %>
		<% end %>
	</tr>
	
	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Wheat" : "Ngano" %></td>
		<td class="text-right"><%= number_to_currency(@wheat_prices.first.price, precision: 0) %></td>
		<% if @wheat_prices.second.price < @wheat_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @wheat_prices.first.price - @wheat_prices.second.price %></strong></td>
		<% elsif @wheat_prices.second.price > @wheat_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @wheat_prices.first.price - @wheat_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@wheat_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@wheat_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
		<% if current_user && current_user.admin? %>
		<% if !@ninayo_prices["Wheat"].nil? %>
		<td class="text-right"><%= number_to_currency(@ninayo_prices["Wheat"], precision: 0 %></td>
		<% else %>
			0/=
		<% end %>
		<% end %>
	</tr>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Maize" : "Mahindi" %></td>
		<td class="text-right"><%= number_to_currency(@maize_prices.first.price, precision: 0) %></td>
		<% if @maize_prices.second.price < @maize_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @maize_prices.first.price - @maize_prices.second.price %></strong></td>
		<% elsif @maize_prices.second.price > @maize_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @maize_prices.first.price - @maize_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@maize_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@maize_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
		<% if current_user && current_user.admin? %>
		<% if !@ninayo_prices["Maize"].nil? %>
		<td class="text-right"><%= number_to_currency(@ninayo_prices["Maize"], precision: 0 %></td>
		<% else %>
			0/=
		<% end %>
		<% end %>
	</tr>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Beans" : "Maharage" %></td>
		<td class="text-right"><%= number_to_currency(@bean_prices.first.price, precision: 0) %></td>
		<% if @bean_prices.second.price < @bean_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @bean_prices.first.price - @bean_prices.second.price %></strong></td>
		<% elsif @bean_prices.second.price > @bean_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @bean_prices.first.price - @bean_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@bean_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@bean_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
		<% if current_user && current_user.admin? %>
		<% if !@ninayo_prices["Beans"].nil? %>
		<td class="text-right"><%= number_to_currency(@ninayo_prices["Beans"], precision: 0 %></td>
		<% else %>
			0/=
		<% end %>
		<% end %>
	</tr>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Soybeans" : "Soya" %></td>
		<td class="text-right"><%= number_to_currency(@soy_prices.first.price, precision: 0) %></td>
		<% if @soy_prices.second.price < @soy_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @soy_prices.first.price - @soy_prices.second.price %></strong></td>
		<% elsif @soy_prices.second.price > @soy_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @soy_prices.first.price - @soy_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@soy_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@soy_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
		<% if current_user && current_user.admin? %>
		<% if !@ninayo_prices["Soy"].nil? %>
		<td class="text-right"><%= number_to_currency(@ninayo_prices["Soy"], precision: 0 %></td>
		<% else %>
			0/=
		<% end %>
		<% end %>
	</tr>

	<tr>
		<td class="text-right"><%= I18n.locale == :en ? "Mbeya Rice" : "Mchele kutoka Kyela" %></td>
		<td class="text-right"><%= number_to_currency(@rice_prices.first.price, precision: 0) %></td>
		<% if @rice_prices.second.price < @rice_prices.first.price %>
			<td><span style="color: green;">▲ </span><strong><%= @rice_prices.first.price - @rice_prices.second.price %></strong></td>
		<% elsif @rice_prices.second.price > @rice_prices.first.price %>
			<td><span style="color: red;">▼ </span><strong><%= @rice_prices.first.price - @rice_prices.second.price %></strong></td>
		<% else %>
			<td><strong><span style="color: orange;">=</span></strong></td>
		<% end %>
		<td><span class="ads-published_at"><%= l(@rice_prices.first.created_at, format: :short) %>
				</span>
		<span><%= "(" + time_ago_in_words(@rice_prices.first.created_at).downcase + (I18n.locale == :sw ? "" : " ago") + ")" %></span></td>
		<% if current_user && current_user.admin? %>
		<% if !@ninayo_prices["Rice"].nil? %>
		<td class="text-right"><%= number_to_currency(@ninayo_prices["Rice"], precision: 0 %></td>
		<% else %>
			0/=
		<% end %>
		<% end %>
	</tr>

	</tbody>
</table>
