<%= form_for @price do |f| %>

	<fieldset>
		<div class="field">
			<%= f.select :crop_type_id, CropType.all.select{ |c|["Potatoes", "Avocadoes", "Tomatoes", "Maize", "Onions"].include? c.name }.collect {|c| [ c.name, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :en %>
			<%= f.select :crop_type_id, CropType.all.select{ |c|["Potatoes", "Avocadoes", "Tomatoes", "Maize", "Onions"].include? c.name }.collect {|c| [ c.name_sw, c.id ] }, {prompt: "#{t "views.ad.new.select_a_crop_type"}"} if I18n.locale == :sw %>
		</div>

		<div class="field">
			<strong><%= f.label :price, "#{t "views.ad.price"}", :class => 'field-label' %></strong>
			<div class="input-wrapper">
				<div class="input-field">
					<%= f.number_field :price, :min => 1, :class => "is-inline" %>
				</div>
				<div class="input-label">
					<span class="input-post">/=</span>
				</div>
			</div>
		</div>

		<% if current_view == "dar" %>
			<%= f.hidden_field :region_id, :value => 2 %>
		<% elsif current_view == "iringa" %>
			<%= f.hidden_field :region_id, :value => 5 %>
		<% else %>
			<%= f.hidden_field :region_id, :value => 13%>
		<% end %>

		<%= f.submit("Submit", :class  => "button") %>
	</fieldset>

<% end %>