
<%= form_tag create_price_path, validate:true do %>
<table class="ads-table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
	<thead>
		<th class="text-right"><%= t "views.ad.crop_type" %>:</th>
		<th class="text-right"><%= t "views.my_page.list.price" %>:</th>
		<th class="text-right"><%= "Change" %>:</th>
		<th class="text-right"><%= "Update" %>:</th>
		<th class="text-right"><%= I18n.locale == :en ? "Published" : "Tarehe" %>:</th>
		<% if current_view == "dar"  || current_view == "mbeya" || current_view == "iringa" -%>
			<th class="is-buttonrow"></th>
		<% end -%>
	</thead>
	<tbody>

	<tr>
	<%=fields_for 'prices[]', @new_prices[2] do |price| %>
		
			
				<td class="text-right"><%= I18n.locale == :en ? "Avocado" : "Maparachichi" %></td>
				<td class="text-right"><%= number_to_currency(@avocado_prices.first.price, precision: 0) %></td>
				<%= price.hidden_field :crop_type_id, :value => 6 %>
			

			
				<div class="input-wrapper">
					<td class="text-right">
						<%= price.number_field :price, :min => 1, :class => "is-inline", :style => "width: 100px;" %>
					</td>
					
				</div>
			
			<% if current_view =="dar" %>
				<%= price.hidden_field :region_id, :value => 2 %>
			<% elsif current_view == "iringa" %>
				<%= price.hidden_field :region_id, :value => 5 %>
			<% else %>
				<%= price.hidden_field :region_id, :value => 13 %>
			<% end %>
		
	<% end %>
	</tr>

	<tr>
	<%=fields_for 'prices[]', @new_prices[0] do |price| %>
		
			
				<td class="text-right"><%= I18n.locale == :en ? "Maize" : "Mahindi" %></td>
				<td class="text-right"><%= number_to_currency(@maize_prices.first.price, precision: 0) %></td>
				<%= price.hidden_field :crop_type_id, :value => 1 %>
			

			
				<div class="input-wrapper">
					<td class="text-right">
						<%= price.number_field :price, :min => 1, :class => "is-inline", :style => "width: 100px;" %>
					</td>
					
				</div>
			
			<% if current_view =="dar" %>
				<%= price.hidden_field :region_id, :value => 2 %>
			<% elsif current_view == "iringa" %>
				<%= price.hidden_field :region_id, :value => 5 %>
			<% else %>
				<%= price.hidden_field :region_id, :value => 13 %>
			<% end %>
		
	<% end %>
	</tr>

	<tr>
	<%=fields_for 'prices[]', @new_prices[3] do |price| %>
		
			
				<td class="text-right"><%= I18n.locale == :en ? "Tomatoes" : "Nyanya" %></td>
				<td class="text-right"><%= number_to_currency(@tomato_prices.first.price, precision: 0) %></td>
				<%= price.hidden_field :crop_type_id, :value => 8 %>
			

			
				<div class="input-wrapper">
					<td class="text-right">
						<%= price.number_field :price, :min => 1, :class => "is-inline", :style => "width: 100px;" %>
					</td>
					
				</div>
			
			<% if current_view =="dar" %>
				<%= price.hidden_field :region_id, :value => 2 %>
			<% elsif current_view == "iringa" %>
				<%= price.hidden_field :region_id, :value => 5 %>
			<% else %>
				<%= price.hidden_field :region_id, :value => 13 %>
			<% end %>
		
	<% end %>
	</tr>

	<tr>
	<%=fields_for 'prices[]', @new_prices[4] do |price| %>
		
			
				<td class="text-right"><%= I18n.locale == :en ? "Onions" : "Vitunguu" %></td>
				<td class="text-right"><%= number_to_currency(@onion_prices.first.price, precision: 0) %></td>
				<%= price.hidden_field :crop_type_id, :value => 13 %>
			

			
				<div class="input-wrapper">
					<td class="text-right">
						<%= price.number_field :price, :min => 1, :class => "is-inline", :style => "width: 100px;" %>
					</td>
					
				</div>
			
			<% if current_view =="dar" %>
				<%= price.hidden_field :region_id, :value => 2 %>
			<% elsif current_view == "iringa" %>
				<%= price.hidden_field :region_id, :value => 5 %>
			<% else %>
				<%= price.hidden_field :region_id, :value => 13 %>
			<% end %>
		
	<% end %>
	</tr>

	<tr>
	<%=fields_for 'prices[]', @new_prices[1] do |price| %>
		
			
				<td class="text-right"><%= I18n.locale == :en ? "Potatoes" : "Viazi" %></td>
				<td class="text-right"><%= number_to_currency(@potato_prices.first.price, precision: 0) %></td>
				<%= price.hidden_field :crop_type_id, :value => 2 %>
			

			
				<div class="input-wrapper">
					<td class="text-right">
						<%= price.number_field :price, :min => 1, :class => "is-inline", :style => "width: 100px;" %>
					</td>
					
				</div>
			
			<% if current_view =="dar" %>
				<%= price.hidden_field :region_id, :value => 2 %>
			<% elsif current_view == "iringa" %>
				<%= price.hidden_field :region_id, :value => 5 %>
			<% else %>
				<%= price.hidden_field :region_id, :value => 13 %>
			<% end %>
		
	<% end %>
	</tr>

	</tbody>
</table>
	<div style="display: flex; justify-content: center;">
		<%= submit_tag("Publish", :class => "button is-block") %>
	</div>
 <% end %>
