<ul class="breadcrumbs">
	<li class="breadcrumbs-item">
		<%= link_to("Dashboard", admin_analytics_path) %>
	</li>
	<li class="breadcrumbs-item is-current">
		<%= link_to("Ads per day", admin_ads_per_day_path) %>
	</li>
</ul>

<h2>Ads per day</h2>

<div class="grid">
	<div class="grid-column-6">

		<h4>Published ads per day</h4>
		<table class="datatable is-admin is-fullwidth">
			<thead>
				<tr>
					<th>Publish date</th>
					<th class="text-right">Number of ads</th>
				</tr>
			</thead>
			<tbody>
				<% @ads_per_day.each do |a| -%>
				<tr>
					<td><%= a.ad_date %></td>
					<td class="text-right"><%= a.ad_count %></td>
				</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	<div class="grid-column-6">

		<h4>Transactions per day</h4>

		<table class="datatable is-admin is-fullwidth">
			<thead>
				<tr>
					<th>Archive date</th>
					<th class="text-right">Number of ads</th>
				</tr>
			</thead>
			<tbody>
				<% @transactions_per_day.each do |a| -%>
				<tr>
					<td><%= a.ad_date %></td>
					<td class="text-right"><%= a.ad_count %></td>
				</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
</div>