<h1>Dashboard</h1>

<div class="grid">
	<div class="grid-column-4">
		<h4>Ads</h4>

		<table class="datatable is-admin is-fullwidth">
			<tfoot>
				<tr>
					<th>Total</th>
					<td class="text-right"><%= @ads.count %></td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th>Drafts</th>
					<td class="text-right"><%= @ads.draft.count %></td>
				</tr>
				<tr>
					<th>Published</th>
					<td class="text-right"><%= @ads.published.count %></td>
				</tr>
				<tr>
					<th>Archived</th>
					<td class="text-right"><%= @ads.archived.count %></td>
				</tr>
				<tr>
					<th>Deleted</th>
					<td class="text-right"><%= @ads.deleted.count %></td>
				</tr>
				<tr>
					<th>Rejected</th>
					<td class="text-right"><%= @ads.rejected.count %></td>
				</tr>

				<tr>
					<th>Spam</th>
					<td class="text-right"><%= @ads.spam.count %></td>
				</tr>
				<tr>
					<th>Sell</th>
					<td class="text-right"><%= @ads.sell.count %></td>
				</tr>
				<tr>
					<th>Buy</th>
					<td class="text-right"><%= @ads.buy.count %></td>
				</tr>

			</tbody>
		</table>
		<p><%= link_to "Ads per day", admin_ads_per_day_path %></p>
		<p>
			<%=link_to "Download Excel file", admin_analytics_all_ads_path(format: "xls"), :class => "button" %>
		</p>
	</div>
	<div class="grid-column-4">
		<h4>Ad feedback</h4>

		<table class="datatable is-admin is-fullwidth">
			<tfoot>
				<tr>
					<th></th>
					<td class="text-right"></td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th>Ads with final_price</th>
					<td class="text-right"><%= @ads.where.not(:final_price =>  nil).count %></td>
				</tr>
				<tr>
					<th>Ads with registered buyer</th>
					<td class="text-right"><%= @ads.where.not(:buyer_id =>  nil).count %></td>
				</tr>
				<tr>
					<th>Ads with buyer_price</th>
					<td class="text-right"><%= @ads.where.not(:buyer_price =>  nil).count %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="grid-column-4">
		<h4>Number of ads per crop type</h4>

		<table class="datatable is-admin is-fullwidth">
			<tfoot>
				<tr>
					<th>Total</th>
					<td class="text-right"><%= @users.count %></td>
				</tr>
			</tfoot>
			<tbody>
				<% Ad.crop_type_stats.each do |c| %>
				<tr>
					<th><%= CropType.find(c.crop_type_id).name %></th>
					<td class="text-right"><%= c.ad_count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<hr>

<div class="grid">
	<div class="grid-column-4">
		<h4>Users</h4>

		<table class="datatable is-admin is-fullwidth">
			<tfoot>
				<tr>
					<th>Total</th>
					<td class="text-right"><%= @users.count %></td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th><%= link_to "Users", admin_analytics_users_path %></th>
					<td class="text-right"><%= @users.user.count %></td>
				</tr>
				<tr>
					<th>VIP</th>
					<td class="text-right"><%= @users.vip.count %></td>
				</tr>
				<tr>
					<th>Admin</th>
					<td class="text-right"><%= @users.admin.count %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <div class="grid-column-4">
		<h4>Unique Logins last week</h4>

		<table class="datatable is-admin is-fullwidth">
			<% start_date = (DateTime.now - 7.days).to_date -%>
			<% end_date = (DateTime.now).to_date -%>
			<tfoot>
				<tr>
					<th>Totalt</th>
					<td class="text-right"><%= UserLog.where(:created_at => start_date..end_date.end_of_day).select("distinct user_id").count %></td>
				</tr>
			</tfoot>
			<tbody>
				<% (start_date..end_date).each do |date| -%>
				<tr>
					<td><%= date %></td>
					<td class="text-right"><%= UserLog.where(:created_at => date..date.end_of_day).select("distinct user_id").count %></td>
				</tr>
				<% end -%>
			</tbody>
		</table>

		<p><%= link_to "Logins per day", admin_logins_per_day_path %></p>
	</div> -->
</div>
