<h1>Dashboard</h1>

<div class="grid">
	<div class="grid-column-4">
		<h4>Ads</h4>

		<table class="datatable is-admin is-fullwidth">
			<tfoot>
				<tr>
					<th>Total</th>
					<td class="text-right"><%= @ads.count %></td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th>Drafts</th>
					<td class="text-right"><%= @ads.draft.count %></td>
				</tr>
				<tr>
					<th>Published</th>
					<td class="text-right"><%= @ads.published.count %></td>
				</tr>
				<tr>
					<th>Archived</th>
					<td class="text-right"><%= @ads.archived.count %></td>
				</tr>
				<tr>
					<th>Deleted</th>
					<td class="text-right"><%= @ads.deleted.count %></td>
				</tr>
				<tr>
					<th>Rejected</th>
					<td class="text-right"><%= @ads.rejected.count %></td>
				</tr>

				<tr>
					<th>Spam</th>
					<td class="text-right"><%= @ads.spam.count %></td>
				</tr>
			</tbody>
		</table>

		<p><%= link_to "Ads per day", admin_ads_per_day_path %></p>
	</div>
	<div class="grid-column-4">
		<h4>Ad feedback</h4>

		<table class="datatable is-admin is-fullwidth">
			<tfoot>
				<tr>
					<th></th>
					<td class="text-right"></td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th>Ads with final_price</th>
					<td class="text-right"><%= @ads.where.not(:final_price =>  nil).count %></td>
				</tr>
				<tr>
					<th>Ads with registered buyer</th>
					<td class="text-right"><%= @ads.where.not(:buyer_id =>  nil).count %></td>
				</tr>
				<tr>
					<th>Ads with buyer_price</th>
					<td class="text-right"><%= @ads.where.not(:buyer_price =>  nil).count %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="grid-column-4">
		<h4>Users</h4>

		<table class="datatable is-admin is-fullwidth">
			<tfoot>
				<tr>
					<th>Total</th>
					<td class="text-right"><%= @users.count %></td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th>Users</th>
					<td class="text-right"><%= @users.user.count %></td>
				</tr>
				<tr>
					<th>VIP</th>
					<td class="text-right"><%= @users.vip.count %></td>
				</tr>
				<tr>
					<th>Admin</th>
					<td class="text-right"><%= @users.admin.count %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div class="grid">
	<div class="grid-column-4">
		<h4>Unique Logins Today</h4>

		<table class="datatable is-admin is-fullwidth">
			<tbody>
				<tr>
					<% date_today = DateTime.now.to_date -%>
					<th><%= date_today %></th>
					<td class="text-right"><%= UserLog.where(:created_at => date_today..date_today.end_of_day).select("distinct user_id").count %></td>
				</tr>
			</tbody>
		</table>

		<p><%= link_to "Logins per day", admin_logins_per_day_path %></p>
	</div>
</div>