<ul class="breadcrumbs">
	<li class="breadcrumbs-item">
		<%= link_to("Dashboard", admin_analytics_path) %>
	</li>
	<li class="breadcrumbs-item is-current">
		<%= link_to("Users", admin_analytics_users_path) %>
	</li>
</ul>

<table class="datatable is-admin is-fullwidth">
	<thead>
		<tr>
			<th>Id</th>
      <th>Email</th>
      <th class="text-right">No of ads</th>
      <th class="text-right">Published</th>
      <th class="text-right">Archived</th>
			<th class="text-right">Final price</th>
		</tr>
	</thead>
	<tbody>
  <% @users.order(:id).each do |u| -%>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.email %></td>
      <td class="text-right"><%= u.ads.count %></td>
      <td class="text-right"><%= u.ads.published.count %></td>
      <td class="text-right"><%= u.ads.archived.count %></td>
      <td class="text-right"><%= number_to_currency(u.ads.archived.sum(:final_price), precision: 0) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<%= paginate @users %>
