<% if ads.length > 0 %>

<table class="ads-table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
	<thead>
		<th>Title</th>
		<% if current_view == "favorites" -%>
			<th>Seller</th>
		<% end -%>
		<th class="text-right">Price</th>
		<% if current_view == "archive" -%>
			<th class="text-right">Final Price</th>
			<th>Buyer</th>
		<% end -%>
		<th>Published</th>
		<% if current_view == "archive" -%>
			<th>Archived</th>
		<% end -%>
		<% if current_view != "favorites" -%>
			<th class="text-right">Displayed</th>
			<th class="text-right">Displayed contact info</th>
			<th class="text-right">Favorites</th>
		<% end -%>
		<% if current_view == "current"  || current_view == "favorites" -%>
			<th class="is-buttonrow"></th>
		<% end -%>
	</thead>
	<tbody>
	<% ads.each do |ad| -%>
		<tr>
			<td>
				<h4 class="ads-table-heading"><%= link_to ad.title, ad_path(ad) %></h4>
			</td>
			<% if current_view == "favorites" -%>
				<td>
					<span class="rating" data-score="<%= ad.user.seller_score %>">
						<span class="rating-user">
							<%= ad.user.name %>
						</span>
						<span class="rating-score">
							<span class="rating-score-inner"></span>
						</span>
					</span>
				</td>
			<% end -%>
			<td class="text-right"><%= number_to_currency(ad.price) %></td>
			<% if current_view == "archive" -%>
				<td class="text-right"><%= number_to_currency(ad.final_price) %></td>
				<td><%= ad.buyer ? ad.buyer.name : "-" %></td>
			<% end -%>
			<td><%= l(ad.published_at, format: :short) %></td>
			<% if current_view == "archive" -%>
				<td><%= l(ad.archived_at, format: :short) %></td>
			<% end -%>
			<% if current_view != "favorites" -%>
				<td class="text-right">
					<% displayed = ad.ad_logs.where(:event_type_id => 1).group(:event_type).count %>
					<% if displayed.length > 0 %>
						<% displayed.each do |s| %>
							<%=  s[1] %>
						<% end -%>
					<% else -%>
						0
					<% end -%>
				</td>
				<td class="text-right">
					<% contact_displayed = ad.ad_logs.where(:event_type_id => 2).group(:event_type).count %>
					<% if contact_displayed.length > 0 %>
						<% contact_displayed.each do |s| %>
							<%=  s[1] %>
						<% end -%>
					<% else -%>
						0
					<% end -%>
				</td>
				<td class="text-right">
					<%= ad.favorited_by.count%>
				</td>
			<% end -%>
			<% if current_view == "current" -%>
			<td class="text-right is-buttonrow"><%= link_to("Archive", archive_ad_path(ad), :class => "button is-block is-primary ads-table-button ") %></td>
			<% end -%>
			<% if current_view == "favorites" -%>
			<td class="text-right is-buttonrow">
				<div class="button-group is-stacked">
					<%= link_to("Favorite", ad_favorite_path(ad, type: "favorite"), :class => "button is-block ads-table-button", :method => :put) unless ad.favorite?(current_user) -%><%= link_to("Unfavorite", ad_favorite_path(ad, type: "unfavorite"), :class => "button is-block ads-table-button", :method => :put) if ad.favorite?(current_user) -%>
					<%= link_to("I bought this", rate_seller_path(ad), :class => "button is-block is-primary ads-table-button") -%>
				</div>
			</td>
			<% end -%>
		</tr>
	<% end -%>
	</tbody>
</table>
<!-- <div class="ads is-current">
	<% ads.each do |ad| -%>
		<div data-url="<%= ad_path(ad) %>" class="ads-item has-actions">

			<h2 class="ads-heading">
				<%= link_to ad.title, ad_path(ad) %>
			</h2>
			<div class="ads-location">
				<%= number_to_currency(ad.price) %>
			</div>
			<div class="ads-actions">
				<%= link_to("Sold", archive_ad_path(ad), :class => "ads-actions-item button is-primary") %>
			</div>
		</div>
	<% end -%>
</div>
 -->
<% else -%>
	<% if current_view = "current" -%>
		<p>No ads to show</p>
	<% end -%>
<% end -%>