<% if ads.length > 0 %>

<table class="ads-table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
	<thead>
		<th><%= t "views.my_page.list.title" %></th>
		<% if current_view == "favorites" || current_view == "bought_ads" -%>
			<th><%= t "views.my_page.list.seller" %></th>
		<% end -%>
		<th class="text-right"><%= t "views.my_page.list.price" %></th>
		<% if current_view == "sold_ads" -%>
			<th class="text-right"><%= t "views.my_page.list.final_price" %></th>
			<th><%= t "views.my_page.list.buyer" %></th>
		<% end -%>
		<% if current_view == "bought_ads" -%>
			<th class="text-right"><%= t "views.my_page.list.final_price" %></th>
		<% end -%>
		<th><%= t "views.my_page.list.published" %></th>
		<% if current_view == "sold_ads" -%>
			<th><%= t "views.my_page.list.archived" %></th>
		<% end -%>
		<% if current_view != "favorites" && current_view != "bought_ads" -%>
			<th class="text-right"><%= t "views.my_page.list.displayed" %></th>
			<th class="text-right"><%= t "views.my_page.list.displayed_contact_info" %></th>
			<th class="text-right"><%= t "views.my_page.list.favorites" %></th>
		<% end -%>
		<% if current_view == "current"  || current_view == "favorites" -%>
			<th class="is-buttonrow"></th>
		<% end -%>
	</thead>
	<tbody>
	<% ads.each do |ad| -%>
		<tr>
			<td>
				<strong>
					<% if ad.published? %>
						<%= link_to ad.title, ad_path(ad) %>
					<% else %>
						<%= ad.title %>
					<% end %>
				</strong>
			</td>
			<% if current_view == "favorites" || current_view == "bought_ads" -%>
				<td>
					<span class="rating" data-score="<%= ad.user.seller_rating.round(0) %>">
						<span class="rating-user">
							<%= ad.user.name %>
						</span>
						<span class="rating-score">
							<span class="rating-score-inner"></span>
						</span>
					</span>
				</td>
			<% end -%>
			<td class="text-right"><%= number_to_currency(ad.price, precision: 0) %></td>
			<% if current_view == "sold_ads" -%>
				<td class="text-right"><%= number_to_currency(ad.final_price, precision: 0) %></td>
				<td>
					<% if ad.buyer -%>
					<span class="rating" data-score="<%= ad.user.buyer_rating.round(0) %>">
						<span class="rating-user">
							<%= ad.buyer.name %>
						</span>
						<span class="rating-score">
							<span class="rating-score-inner"></span>
						</span>
					</span>
					<% else -%>
						-
					<% end -%>
				</td>
			<% end -%>
			<% if current_view == "bought_ads" -%>
				<td class="text-right"><%= number_to_currency(ad.buyer_price, precision: 0)  %></td>
			<% end -%>
			<td><%= l(ad.published_at, format: :short) %></td>
			<% if current_view == "sold_ads" -%>
				<td><%= l(ad.archived_at, format: :short) %></td>
			<% end -%>
			<% if current_view != "favorites" && current_view != "bought_ads" -%>
				<td class="text-right">
					<% displayed = ad.ad_logs.where(:event_type_id => 1).group(:event_type).count %>
					<% if displayed.length > 0 %>
						<% displayed.each do |s| %>
							<%=  s[1] %>
						<% end -%>
					<% else -%>
						0
					<% end -%>
				</td>
				<td class="text-right">
					<% contact_displayed = ad.ad_logs.where(:event_type_id => 2).group(:event_type).count %>
					<% if contact_displayed.length > 0 %>
						<% contact_displayed.each do |s| %>
							<%=  s[1] %>
						<% end -%>
					<% else -%>
						0
					<% end -%>
				</td>
				<td class="text-right">
					<%= ad.favorited_by.count%>
				</td>
			<% end -%>
			<% if current_view == "current" -%>
			<td class="text-right is-buttonrow"><%= link_to("#{t "common.archive"}", archive_ad_path(ad), :class => "button is-block is-primary ads-table-button ") %></td>
			<% end -%>
			<% if current_view == "favorites" -%>
			<td class="text-right is-buttonrow">
				<div class="button-group is-stacked">
					<% if ad.buyer_id == current_user.id %>
						<%= link_to("#{t "views.my_page.list.i_bought_this"}", rate_seller_path(ad), :class => "button is-block is-primary ads-table-button") -%>
					<% else %>
						<%= link_to("#{t "common.unfavorite"}", ad_favorite_path(ad, type: "unfavorite"), :class => "button is-block ads-table-button", :method => :put) if ad.favorite?(current_user) -%>
					<% end %>
				</div>
			</td>
			<% end -%>
		</tr>
	<% end -%>
	</tbody>
</table>

<%= paginate ads %>

<% else -%>
	<% if current_view = "current" -%>
		<p><%= t "views.my_page.list.no_ads" %></p>
	<% end -%>
<% end -%>