<% provide(:title, "#{t "views.my_page.current.title"}") %>
<%= render "pagenav", :current_view => "current" %>

<div class="tabs-content">
	<%= render "current", :current_view => "current" %>
</div>
<%= link_to destroy_user_session_path, method: :delete, :class => "button is-block"  do %>
				<img src="<%= image_path("icons/sign-out.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null; this.src='<%= image_path("icons/sign-out.png") %>'">
				<%= t "views.navigation.log_out" %>
			<% end %>