<div class="siteheader">
	<div class="siteheader-inner">
		<a href="<%=root_path%>" class="siteheader-logo">
			<%= image_tag("ninayo-logo.png", alt: "NINAYO") %>
		</a>

		<%= render "layouts/primarynav" %>
		<%= link_to("#{t "views.navigation.new_ad"}", new_ad_path, :class => "button primarynav-button is-primary") %>
		<a href="" class="siteheader-toggle">
			<%= image_tag("hamburger.svg", alt: "#{t "views.navigation.menu"}") %>
		</a>
		<%= render "layouts/usernav" %>
	</div>
</div>