<div class="siteheader">
	<div class="siteheader-inner">
		<a href="<%=root_path%>" class="siteheader-logo">
			<% if user_signed_in? %>
				<%= image_tag("ninayo_tzflag.png", alt: "NINAYO", class: "siteheader-logo-full") %>
			<% else %>
				<%= image_tag("ninayo-logo.png", alt: "NINAYO", class: "siteheader-logo-full") %>
			<% end %>
			<%= image_tag("ninayo-emblem.png", alt: "NINAYO", class: "siteheader-logo-emblem") %>
		</a>

		<% if user_signed_in? %>
			<%= link_to mypage_path, :class => "primarynav-item is-secondary" do %>
				<% if !current_user.photo_url.nil? %>
					<img src=<%= "#{current_user.photo_url}" %> class="avatar">
				<% end %>

				<%if params[:locale] === "en" %>
					<%= "  Welcome, #{current_user.name}!" %>
				<% else %>
					<%= "  Kuwakaribusha, #{current_user.name}!" %>
				<% end %>
			<% end %>

		<% else %>
			<%= link_to get_started_path, :class => "primarynav-item is-secondary" do%>
				<%if params[:locale] === "en" %>
					Get Started
				<% else %>
					Kuanza
				<% end %>
			<% end %>
		<% end %>

		<%= render "layouts/primarynav" %>
	</div>
</div>