<div class="siteheader">
	<div class="siteheader-inner">
		<a href="<%=root_path%>" class="siteheader-logo">
			<% if user_signed_in? %>
				<%= image_tag("ninayo_tzflag.gif", alt: "NINAYO", class: "siteheader-logo-full") %>
			<% else %>
				<%= image_tag("ninayo-logo.gif", alt: "NINAYO", class: "siteheader-logo-full") %>
			<% end %>
			<%= image_tag("ninayo-emblem.gif", alt: "NINAYO", class: "siteheader-logo-emblem") %>
		</a>

		<% if user_signed_in? %>


			<%= link_to "#{t "views.navigation.my_page"}", mypage_path, :class => "primarynav-item is-secondary" %>

			<% if current_user.unread_inbox_count >= 1 %>
				<%= link_to conversations_path, :class => "primarynav-messages is-secondary"  do %>
					<img src="<%= image_path("icons/mail.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null; this.src='<%= image_path("icons/mail.svg") %>'">
					<% if current_user.unread_inbox_count >= 1 %>
						<div class="notifylight"></div>
					<% end %>
				<% end %>
			<% end %>

		<% else %>
			<%= link_to "#{t "views.navigation.login"}", new_user_session_path, :class => "primarynav-item is-secondary" %>
		<% end %>

		<% if I18n.locale == :sw %>
			<%= link_to({locale: "en"}, class: "primarynav-item is-secondary") do %>
				<span>EN/SW</span>
			<% end %>
		<% elsif I18n.locale == :en %>
			<%= link_to({locale: "sw"}, class: "primarynav-item is-secondary") do %>
				<span>EN/SW</span>
			<% end %>
		<% end %>

		<%= render "layouts/primarynav" %>
	</div>
	<div class="gold-stripe"></div>
	<div class="white-stripe"></div>
	<div class="green-stripe"></div>
</div>