<div class="siteheader">
	<div class="siteheader-inner">
		<a href="<%=root_path%>" class="siteheader-logo">
			<% if user_signed_in? %>
				<%= image_tag("ninayo_tzflag.png", alt: "NINAYO", class: "siteheader-logo-full") %>
			<% else %>
				<%= image_tag("ninayo-logo.png", alt: "NINAYO", class: "siteheader-logo-full") %>
			<% end %>
			<%= image_tag("ninayo-emblem.png", alt: "NINAYO", class: "siteheader-logo-emblem") %>
		</a>

		<% if user_signed_in? %>


			<%= link_to mypage_path, :class => "primarynav-item is-secondary" do %>
				<% if !current_user.photo_url.nil? %>
					<img src=<%= "#{current_user.photo_url}" %> class="avatar">
				<% end %>

				<%if params[:locale] === "en" %>
					<% if current_user.name.nil? %>
						<%= "  Welcome!" %>
					<% else %>
						<%= "  Welcome, #{current_user.name.split(" ")[0]}!" %>
					<% end %>
				<% else %>
					<% if current_user.name.nil? %>
						<%= "  Karibu!" %>
					<% else %>
						<%= "  Karibu, #{current_user.name.split(" ")[0]}!" %>
					<% end %>
				<% end %>
			<% end %>
			<% if current_user.unread_inbox_count >= 0 %>
				<%= link_to conversations_path, :class => "primarynav-messages is-secondary"  do %>
					<% if current_user.unread_inbox_count >= 1 %>
						<span class="unreadcount"><%= current_user.unread_inbox_count %></span>
					<% end %>
					<img src="<%= image_path("icons/chat.svg") %>" class="usernav-icon" alt="" onerror="this.onerror=null; this.src='<%= image_path("icons/chat.svg") %>'">
					<% if current_user.unread_inbox_count >= 1 %>
						<div class="notifylight"></div>
					<% end %>
				<% end %>
			<% end %>

		<% else %>
			<%= link_to get_started_path, :class => "primarynav-item is-secondary" do%>
				<%if params[:locale] === "en" %>
 -					Get Started
  				<% else %>
 -					Mwanzo
  				<% end %>
  			<% end %>
		<% end %>

		<%= render "layouts/primarynav" %>
	</div>
</div>