<div class="siteheader">
	<div class="siteheader-inner">
		<a href="<%=root_path%>" class="siteheader-logo">
			<%= image_tag("ninayo-logo.png", alt: "NINAYO") %>
		</a>

		<%= link_to("New ad", new_ad_path, :class => "button siteheader-new-ad is-primary") %>
		<a href="" class="siteheader-toggle">
			<%= image_tag("hamburger.svg", alt: "Menu") %>
		</a>

		<%= render "layouts/usernav" %>
		</div>
	</div>
</div>