<div class="sitefooter">
	<div class="sitefooter-inner">
		<div class="sitefooter-row">
			<div class="sitefooter-first">
				<p class="sitefooter-contactinfo">
					<%= t "views.footer.contact" %>: <a href="mailto:info@ninayo.com">info@ninayo.com</a><br>
					<%= t "views.footer.report_abuse" %>: <a href="mailto:abuse@ninayo.com">abuse@ninayo.com</a><br>
					<%= t "views.footer.support" %>: <a href="mailto:support@ninayo.com">support@ninayo.com</a>
				</p>

			</div>
			<div class="sitefooter-second">

				<% if I18n.locale == :sw %>
					<%= link_to({locale: "en"}, class: "primarynav-item is-secondary") do %>
						<span>EN</span>
					<% end %>
				<% elsif I18n.locale == :en %>
					<%= link_to({locale: "sw"}, class: "primarynav-item is-secondary") do %>
						<span>SW</span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="copy sitefooter-copy">
			&copy; 2015 Ninayo
			<%= image_tag("free_basics.gif", alt: "NINAYO") %>
		</div>
	</div>
</div>