<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#4CAF50">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#4CAF50">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#4CAF50">

	<!-- Start GTM Copy -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MFH7JK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MFH7JK');</script>
	<!-- End GTM Copy -->
	
	<%= javascript_include_tag 'application', :async => true, :cache => true, 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller.controller_name}-#{controller.action_name}" %>">
	<%= render "layouts/siteheader" %>
	<div class="wrapper <%="show-filter" if @show_filter == 'true' %>">
		<%= render "layouts/alert" %>
		<%= yield %>
	</div>

	<%= render "layouts/sitefooter" %>
</body>
</html>
