<!DOCTYPE html>
<html>
<head>
	<title>Ninayo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller.controller_name}-#{controller.action_name}" %>">
	<%= render "layouts/siteheader" %>
	<div class="wrapper <%="show-filter" if @show_filter == 'true' %>">

		<% if notice %>
			<div class="alert is-success">
				<%= notice %>
				<a href="" class="alert-close">&times;</a>
			</div>
		<% end %>
		<% if alert %>
			<div class="alert is-error">
				<%= alert %>
				<a href="" class="alert-close">&times;</a>
			</div>
		<% end %>

		<%= yield %>
	</div>

	<%= render "layouts/sitefooter" %>

</body>
</html>